<form role="search" method="get" class="search-form" action="/">
    <input type="search" name="s" placeholder="Search" value="{{ s }}"></input>
    <button type="submit" class="search-submit">Submit</button>
</form>

{# GUNY current version May 2021 #}
{# <form role="search" method="get" class="search-form" action="{{ function('Search\\get_path') }}">
	<div class="form-field__icon-container">
		<input data-js="hidden-search-input" type="hidden" value="{{ s }}"></input>
	<input type="search" name="s" class="form-field form-field--large form-field--full-width c-hero__input" placeholder="{{ __('Search', function('Search\\get_translation_domain')) }}" data-js="search" {% if ( function('Search\\enabled_suggestions') ) %} data-js-search-suggestions='{{ function('Search\\get_suggested_terms') }}' data-js-search-dropdown-class="form-field-dropdown--large" {% endif %}/>

	{% if post_type %}<input type="hidden" name="post_type" value="{{ post_type }}"/>
	{% endif %}

	<button type="submit" class="form-field__icon form-field__icon--large">
		<svg class="icon">
			<title>{{ __('Search', function('Search\\get_translation_domain')) }}</title>
			<use xlink:href="#icon-search"></use>
		</svg>
	</button>

	<a href="#clear" class="form-field__icon form-field__icon--large form-field__icon--weak search-clear" {% if s == '' %} style="display:none;" aria-hidden="true" {% endif %}>
		<svg class="icon">
			<title>{{ __('Clear', function('Search\\get_translation_domain')) }}</title>
			<use xlink:href="#icon-close"></use>
		</svg>
	</a>

</div></form> #}

{# GUNY original version Jan 2018 #}
{# <form role="search" method="get" class="search-form" action="/search">
  <div class="form-field__icon-container">
    <input type="search" class="form-field form-field--large form-field--full-width c-hero__input" placeholder="{{ __('Search', 'guny') }}" name="s" value="{{ term }}" />
    <button class="form-field__icon form-field__icon--large">
      <svg class="icon">
        <title>{{ __('Search', 'guny') }}</title>
        <use xlink:href="#icon-search"></use>
      </svg>
    </button>
    <button class="form-field__icon form-field__icon--large form-field__icon--weak">
      <svg class="icon">
        <title>{{ __('Clear', 'guny') }}</title>
        <use xlink:href="#icon-close"></use>
      </svg>
    </button>
  </div>
</form> #}

{# Medium #}
{# <form role="search" method="get" id="searchform" class="searchform" action="{{site.link}}">
  <div>
    <label class="screen-reader-text" for="s">Search for:</label>
    <input type="text" value="{{ function('get_search_query') }}" name="s" id="s" />
    <input type="submit" id="searchsubmit" value="Search" />
  </div>
</form> #}

{# Chat GPT #}
{# <form role="search" method="get" class="search-form" action="<?php echo esc_url( home_url( '/' ) ); ?>">
    <label>
        <span class="screen-reader-text">{{ _x( 'Search for:', 'label' ) }}</span>
        <input type="search" class="search-field" placeholder="{{ esc_attr_x( 'Search …', 'placeholder' ) }}" value="{{ get_search_query() }}" name="s" />
    </label>
    <button type="submit" class="search-submit">{{ _x( 'Search', 'submit button' ) }}</button>
</form> #}

