<div class="c-card {% block classes %}{% endblock %}">
  {% block sticker %}
  <a href="{{post.link}}">  
    <div class="c-card__sticker sticker" aria-hidden="true">
      {% block sticker_content %}{% endblock %}
    </div>
  </a>
  {% endblock %}
  <h3 class="c-card__title">
    {% block title %}
    <a href="{{post.link}}" title="{{post.title}}" rel="bookmark">
      {{post.title}}
    </a>
    {% endblock %}
  </h3>
  {% block label %}
  {% if show_post_type %}
    <p class="c-card__label">
      {{post.post_type|replace({'_': ' '})|title}}
    </p>
  {% endif %}
  {% endblock %}
  {% block subtitle_block %}
  <div class="c-card__subtitle">
    {% block subtitle %}{% endblock %}
  </div>
  {% endblock %}
  <div class="c-card__body">
    {% block body %}
    {{post.post_excerpt ? post.post_excerpt : post.post_content|excerpt(15)}}
    {% endblock %}
  </div>
  {% block link %}{% endblock %}
</div>