<article class="c-accordion {{ this.classes }}" id="{{ this.id }}">
  <header class="c-accordion__header">
    <button aria-controls="aria-c-{{ this.id }}" aria-expanded="{{ this.active }}" class="c-accordion__toggle w-full text-start print:hidden {% if this.active %}active{% endif %}" data-js="accordion">
      <span class="c-accordion__heading mt-0" id="aria-lb-{{ this.id }}">
        <span>{{ this.header }}</span>
      </span>

      <span class="c-accordion__toggle-active">
        <svg class="icon-wnyc-ui" role="img">
          <title>{{ __('Hide', 'wnyc') }}</title>

          <use xlink:href="#feather-chevron-down"></use>
        </svg>
      </span>

      <span class="c-accordion__toggle-inactive">
        <svg class="icon-wnyc-ui" role="img">
          <title>{{ __('Expand', 'wnyc') }}</title>

          <use xlink:href="#feather-chevron-up"></use>
        </svg>
      </span>
    </button>
  </header>

  <div aria-hidden="{% if this.active %}false{% else %}true{% endif %}" id="aria-c-{{ this.id }}" aria-labelledby="aria-lb-{{ this.id }}" class="c-accordion__body print:active hidden:overflow animated {% if this.active %}active{% else %}hidden{% endif %}" role="region">
    <div class="c-accordion__padding">
      <p>{{ this.body }}</p>

      {% if this.cta %}
      <p class="print:hidden">
        <a class="btn btn-secondary btn-next w-full" href="{{ this.cta.href }}" {% if this.cta.target %}target="{{ this.cta.target }}"{% endif %} {% if this.cta.rel %}rel="{{ this.cta.rel }}"{% endif %} {% if this.active == false %}tabindex="-1"{% endif %}>
          <svg aria-hidden="true" class="icon-wnyc-ui rtl:flip" {% if this.active == false %}tabindex="-1"{% endif %}>
            <use xlink:href="#feather-arrow-left"></use>
          </svg>

          {{ this.cta.text }}

          <svg aria-hidden="true" class="icon-wnyc-ui rtl:flip" {% if this.active == false %}tabindex="-1"{% endif %}>
            <use xlink:href="#feather-arrow-right"></use>
          </svg>
        </a>
      </p>
      {% endif %}
    </div>
  </div>
</article>