{# @Type   Component #}
{# @For    Generic Templates, Short-codes #}
<article class="c-accordion__group {{ this.classes }}" id="{{ this.id }}">
  <h3 class="c-accordion__header">
    <button class="c-accordion__toggle print:hidden {% if this.active %}active{% endif %}" aria-controls="aria-c-{{ this.id }}" aria-expanded="{% if this.active %}true{% else %}false{% endif %}" data-js="accordion">
      <span class="c-accordion__heading" id="aria-lb-{{ this.id }}">{{ this.header }}</span>

      <svg aria-hidden="true" class="icon-ui">
        <use href="#lucide-chevron-down"></use>
      </svg>
    </button>
  </h3>

  <div class="c-accordion__body print:active hidden:overflow animated {% if this.active %}active{% else %}hidden{% endif %}" aria-hidden="{% if this.active %}false{% else %}true{% endif %}" id="aria-c-{{ this.id }}" aria-labelledby="aria-lb-{{ this.id }}">
    <div class="c-accordion__padding">
      {{ this.body|wpautop }}

      {% if this.link %}
      <p class="print:hidden">
        <a class="btn btn-secondary" href="{{ this.link }}" {% if this.link_target == '_blank' %} target="{{ this.link_target }}" rel="noopener"{% endif %} {% if this.active %}{% else %}tabindex="-1"{% endif %}>
          {% if this.link_target == '_blank' %}
          <span>{{ this.link_label }}</span>
          {% else %}
          <span>{{ __('Learn more', 'WNYC') }} <span class="sr-only">{{ __('about', 'WNYC') }} <span>{{ this.header }}</span></span></span>
          {% endif %}

          <svg aria-hidden="true" class="icon-ui rtl:flip" {% if this.active %}{% else %}tabindex="-1"{% endif %}>
            <use href="#lucide-{% if this.link_target == '_blank' %}external-link{% else %}arrow-right{% endif %}"></use>
          </svg>
        </a>
      </p>
      {% endif %}
    </div>
  </div>
</article>