{# Active Navigation #}
{# @Type  Component #}
{# @For   Long-form page templates #}
<div class="c-active-navigation layout-content sticky top-0 bg-scale-1 z-20 {{ this.classes }}">
  <div class="c-active-navigation__wrap">
    <div class="c-active-navigation__scroll" data-active-navigation="scroll">
      <nav class="c-active-navigation__nav" data-js="active-navigation" aria-label="{{ __('Jump Navigation', 'WNYC') }}">
        <span class="c-active-navigation__item">{{ __('Jump to', 'WNYC')}}</span>

        <a class="c-active-navigation__item" href="#page-heading">{{ __('Top of page', 'WNYC') }}</a>

        {% for item in this.items %}
        {% if item.title %}
        <a class="c-active-navigation__item" data-active-navigation-item="active" data-inactive-navigation-item="inactive" href="#{{ item.title|trim|replace({' ': '-'})|lower }}">{{ item.title }}</a>
        {% endif %}
        {% endfor %}
      </nav>
    </div>
  </div>
</div>