{# @Type   Element #}
{# @For    Generic Templates #}
<nav class="breadcrumbs flex" aria-label="Breadcrumb">
  <a
  {% if employer == true %}
      href="{{ function('convert_link_locale', site.site_url ~ '/employers' , site.site_url, site.url) }}"
  {% else %}
      href="{{ function('convert_link_locale', site.site_url ~ '/jobseekers' , site.site_url, site.url) }}"
  {% endif %}
  >{{ __('Home', 'WNYC') }}</a>

  {% if crumbs %}
  {% for crumb in crumbs %}
  <div>
    <svg aria-hidden="true" class="o-header__breadcrumbs-chevron icon-ui rtl:flip">
      <use href="#lucide-chevron-right"></use>
    </svg>

    {% if crumb.link != '' %}
    <a href="{{ crumb.link }}">{{ crumb.label }}</a>
    {% else %}
    <b aria-current="page">{{ crumb.label }}</b>
    {% endif %}
  </div>
  {% endfor %}
  {% endif %}
</nav>