{# @Type   Component #}
{# @For    Generic Templates, Short-codes #}
<article class="c-card {{ this.classes }}" id="{{ this.id }}">
  {% if this.thumbnail %}
  <img class="h-full w-full object-cover aspect-[4/3] block" loading="lazy" style="object-position: {{ this.thumbnail.focal_point }};" src="{{ this.thumbnail.src('mobile') }}" alt="{{ this.thumbnail.alt }}"/>
  {% endif %}

  <header class="c-card__header h-full p-3">
    <span>
      {% if this.title %}
      {% if this.link %}<a class="c-card__header-link" data-js="{{ this.id }}" href="{{ this.link }}"{% if this.link_target == '_blank' %} target="{{ this.link_target }}" rel="noopener"{% endif %}>{% endif %}
        <div class="c-card__title text-[16px] font-[600]">
          {% if this.link %}<span class="c-card__underline">{% endif %}{{ this.title }}{% if this.link %}</span>{% endif %}

          {% if this.link and this.link_target == '_blank' %}
          <svg aria-hidden="true" class="icon-ui rtl:flip">
            <use href="#lucide-external-link"></use>
          </svg>
          {% endif %}
        </div>
      {% if this.link %}</a>{% endif %}
      {% endif %}

      {% if this.subtitle %}<p class="c-card__subtitle text-alt">
        {{ this.subtitle }}
      </p>{% endif %}
    </span>
  </header>
</article>