{# @Type   Component #}
{# @For    Custom Field #}
{# @Class  includes/collection.php #}
<section class="site-max-width" id="{{ this.heading|trim|replace({' ': '-'})|lower }}">
  <div class="py-4 tablet:py-5 desktop:py-6">
    {% if this.display == 'container' %}
      {% include 'components/container.twig' %}
    {% endif %}
    {% if this.display == 'cards' %}

      {% if this.heading or this.description %}
       
     
            <h2 class="text-[30px] tablet:text-[40px] desktop:text-[44px] text-alt mt-0">{{ this.heading }}</h2>

            {{ this.description }}
  
      {% endif %}

      {% if this.posts %}
      <div>
        {% if this.guides %}
        <div class="grid tablet:grid-cols-3">
        {% else %}
        <div class="scroll scroll-x scroll-x-snap-start scroll-peek tablet:scroll-reset grid grid-cols-1 tablet:grid-cols-2 desktop:grid-cols-3 gap-2 desktop:gap-3 py-2">
        {% endif %}
          {% for post in this.posts %}
              <div class="max-w-full">
                {% include [ post.post_type ~ '/' ~ post.singular ~ '.twig'] with {
                  post: post
                } %}
              </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if this.archive.link %}
      <div>
        <div class="wrap tablet:pt-6">
          <a class="btn btn-primary btn-next w-full" href="{{ this.archive.link }}"{% if this.archive.external %} target="_blank" rel="noopener"{% endif %}>
            <span>{{ this.archive.label }}</span>

            <svg aria-hidden="true" class="icon-ui rtl:flip">
              <use href="#lucide-{% if this.archive.external %}external-link{% else %}arrow-right{% endif %}"></use>
            </svg>
          </a>
        </div>
      </div>
      {% endif %}
    {% endif %}

    {% if this.display == 'callout' %}
    <div class="wrap tablet:px-3 desktop:px-6">
      <div class="desktop:px-6 tablet:grid items-center grid-cols-2 gap-x-5">
        <div>
          <h2 class="h3 text-[30px] tablet:text-[40px] desktop:text-[44px] text-alt mt-0">{{ this.heading }}</h2>

          <img class="bg-image-square mb-2 tablet:hidden" loading="lazy" style="object-position: {{ this.post.thumbnail.focal_point }};" src="{{ this.post.thumbnail.src('tablet') }}" alt="{{ this.post.thumbnail.alt }}"/>

          {{ this.description }}

          {% if this.archive.link %}
          <a class="btn btn-primary btn-next w-full tablet:w-auto" href="{{ this.archive.link }}"{% if this.archive.external %} target="_blank" rel="noopener"{% endif %}>
            <span>{{ this.archive.label }}</span>

            <svg aria-hidden="true" class="icon-ui rtl:flip">
              <use href="#lucide-{% if this.archive.external %}external-link{% else %}arrow-right{% endif %}"></use>
            </svg>
          </a>
          {% endif %}
        </div>

        <div class="transform-none">
          <img class="bg-image-square hidden tablet:block" loading="lazy" style="object-position: {{ this.post.thumbnail.focal_point }};" src="{{ this.post.thumbnail.src('tablet') }}" alt="{{ this.post.thumbnail.alt }}"/>
        </div>
      </div>
    </div>
    {% endif %}

    {% if this.display == 'gallery' %}
    <div class="{% if this.posts %} pb-2 desktop:pb-5{% endif %}">
      <div>
        <h2 class="h3 text-[30px] tablet:text-[40px] desktop:text-[44px] text-alt mt-0">{{ this.heading }}</h2>

        {{ this.description }}
      </div>
    </div>

    {% if this.posts %}
    <div class="pb-2 desktop:pb-5">
      <div class="py-4 grid gap-3 tablet:grid tablet:grid-cols-2 tablet:gap-2 desktop:grid-cols-3 py-2">
        {% for post in this.posts %}
        <div class="flex transform-none">
          {% include 'components/card.twig' with {
            this: {
              title: post.title,
              link: post.link,
              id: post.type ~ '-' ~ post.id,
              thumbnail: post.thumbnail
            }
          } only %}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if this.archive.link %}
    <div>
      <div class="wrap tablet:pt-6">
        <a class="btn btn-primary btn-next w-full" href="{{ this.archive.link }}"{% if this.archive.external %} target="_blank" rel="noopener"{% endif %}>
          <span>{{ this.archive.label }}</span>

          <svg aria-hidden="true" class="icon-ui rtl:flip">
            <use href="#lucide-{% if this.archive.external %}external-link{% else %}arrow-right{% endif %}"></use>
          </svg>
        </a>
      </div>
    </div>
    {% endif %}
    {% endif %}
  </div>
</section>