<section class="page-max desktop:my-6 tablet:my-5 tablet-mx-56 mobile-mx-16" id="containers">
    <div class="desktop:grid desktop:grid-cols-2 items-center desktop-gap-x-72">
      {% if this.thumbnail %}
      <div class="pb-3 tablet:pb-5 desktop-w-500 desktop-h-400 tablet-h-400 mobile-h-300" data-aos="fade-in" data-aos-anchor-placement="top-bottom" data-aos-delay="300">
        <img class="bg-image-square tablet:block" style="object-position: {{ this.thumbnail.focal_point }};" src="{{ this.thumbnail.src('tablet') }}" alt="{{ this.thumbnail.alt }}"/>
      </div>
      {% endif %}
      <div class="desktop-max-h-304 desktop-w-660">
        {{ this.description }}
        <a class="btn btn-small tablet:btn btn-styled pointer-events-auto" href="#page-heading">Styled button</a>
        <a class="btn btn-small tablet:btn btn-primary pointer-events-auto" href="#page-heading">Primary button</a>
        <a class="btn btn-small tablet:btn btn-secondary pointer-events-auto" href="#page-heading">Secondary Button</a>
        <a class="btn btn-small tablet:btn btn-tertiary pointer-events-auto" href="#page-heading">Tertiary button</a>
      </div>
    </div>
</section>

<section class="page-max desktop:my-6 tablet:my-5 tablet-mx-56 mobile-mx-16" id="containers">
    <div class="desktop:grid desktop:grid-cols-2 items-center desktop-gap-x-72">
     
      <div class="desktop-max-h-304 desktop-w-660">
        {{ this.description }}
        <a class="btn btn-small tablet:btn btn-styled pointer-events-auto" href="#page-heading">Styled button</a>
        <a class="btn btn-small tablet:btn btn-primary pointer-events-auto" href="#page-heading">Primary button</a>
        <a class="btn btn-small tablet:btn btn-secondary pointer-events-auto" href="#page-heading">Secondary Button</a>
        <a class="btn btn-small tablet:btn btn-tertiary pointer-events-auto" href="#page-heading">Tertiary button</a>
      </div>

   {% if this.thumbnail %}
      <div class="pb-3 tablet:pb-5 desktop-w-500 desktop-h-400 tablet-h-400 mobile-h-300" data-aos="fade-in" data-aos-anchor-placement="top-bottom" data-aos-delay="300">
        <img class="bg-image-square tablet:block" style="object-position: {{ this.thumbnail.focal_point }};" src="{{ this.thumbnail.src('tablet') }}" alt="{{ this.thumbnail.alt }}"/>
      </div>
      {% endif %}
    </div>
</section>