<section>
    {% if this.fields.container_image_side == 'left' %}
    <div class="desktop:grid desktop:grid-cols-[1fr_1.75fr] items-center desktop-gap-x-72">
    {% else %}
    <div class="desktop:grid desktop:grid-cols-[1.75fr_1fr] items-center desktop-gap-x-72">
    {% endif %}
    {# Desktop: image on the left if container_image_side is 'left', tablet and mobile: image on top #}
    {% if this.fields.container_image_side == 'left' %}
      <div class="pb-3 tablet:pb-5 desktop:pb-0 desktop-w-500 desktop-h-400 tablet-h-400 mobile-h-300">
    {% else %}
      <div class="desktop:hidden pb-5 tablet-h-400 mobile-h-300">
    {% endif %}
        <img class="tablet:block" src="{{ this.fields.container_image.url }}" alt="{{ this.fields.container_image.alt }}"/>
      </div>
      <div class="desktop-max-h-304 desktop-w-660">
        <h2 class="mb-3 tablet:mb-4">{{ this.heading }}</h2>
        {{ this.description }}

        {% set container_button_class = '' %}
        {% if this.fields.container_button_type == 'primary' %}
          {% set container_button_class = 'btn-primary' %}
        {% elseif this.fields.container_button_type == 'secondary' %}
          {% set container_button_class = 'btn-secondary' %}
        {% elseif this.fields.container_button_type == 'tertiary' %}
          {% set container_button_class = 'btn-tertiary' %}
        {% else %}
          {% set container_button_class = 'btn-styled' %}
        {% endif %}

        <a class="mt-2 btn {{ container_button_class }} pointer-events-auto" href="{{ function('convert_link_locale', this.fields.container_button_link, site.site_url, site.url) }}">{{ this.fields.container_button_text }}</a>
      </div>
    {% if this.fields.container_image_side == 'right' %}
      <div class="desktop-w-500 desktop-h-400 hidden desktop:block">
        <img class="bg-image-square tablet:block" src="{{ this.fields.container_image.url }}" alt="{{ this.fields.container_image.alt }}"/>
      </div>
    {% endif %}
    </div>
</section>