<section class="wrap relative pt-utility-anchor" id="questionnaire">
  <div class="page-max py-4 tablet:py-8 desktop:px-6">

    {% if this.thumbnail %}
    <div class="py-2 tablet:py-8 desktop:px-6 tablet:grid grid-cols-2 gap-x-5 items-center">
      <div>
    {% else %}
    <div class="py-2 tablet:py-8 desktop:px-6 layout-content">
      <div class="wrap">
    {% endif %}

        <div class="text-center">
          <h2 class="h3 text-alt mt-0">{{ this.heading }}</h2>

          {# <img class="bg-image-square mb-2 tablet:hidden" style="object-position: {{ this.thumbnail.focal_point }};" src="{{ this.thumbnail.src('tablet') }}" alt="{{ this.thumbnail.alt }}"/> #}

          {{ this.description }}
        </div>

        <div class="py-4">
          <div class="transform-none aos-init aos-animate" data-aos="fade-in" data-aos-anchor-placement="top-bottom" data-aos-delay="300">

            {% if this.questions %}
            <form :action="'{{ fn('get_post_type_archive_link', 'programs') }}'+query" class="c-card" data-js="validate-and-query" method="post" id="answer-a-few-questions" data-post-type="{{ this.type }}" data-post-threshold="{{ this.threshold }}">
              <div class="p-3 desktop:p-4">
                {% for question in this.questions %}
                  <fieldset {% if loop.index == 1 %}class="mb-2"{% else %}aria-hidden="true" class="hidden mt-3"{% endif %} data-taxonomy="{{ question.questionnaire_taxonomy }}" field-key="{{ loop.index }}">
                    <div class="c-question">
                      {% set question_name = question.questionnaire_question|lower|replace({' ':'-', '?':''}) %}

                      <label class="c-question__label" for="{{ question_name }}">{{ question.questionnaire_question }}</label>

                      <p>{{ __('Choose one for now. You can add later using filters.', 'WNYC-Questionnaire') }}</p>

                      <div class="c-question__container">
                        <div class="select">
                          <select aria-controls="aria-c-schedules" aria-labelledby="{{ question_name }}" data-js="toggle" id="{{ question_name }}" name="{{ question_name }}" v-model="checkedFilters[{{ loop.index }}]">
                            <option value="undefined" disabled>{{ __('Select an option', 'WNYC-Questionnaire') }}</option>

                            <option v-for="(term, index) in filters[{{ loop.index - 1 }}]" :value="term" :title="'{{ question.questionnaire_question }}' +' Option ' + (index + 1) + ' of ' + filters[{{ loop.index - 1 }}].length + ': ' + term.name">v{ term.name }</option>
                          </select>

                          <svg aria-hidden="true" class="select__graphic">
                            <use href="#select-nyco-chevrons"></use>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                {% endfor %}

                <div id="aria-c-messaging">
                  <article class="c-alert c-alert-status-secondary mb-5" data-js="alert-success" v-if="(success || checkedFilters.length == (filters.length + 1)) && totalPosts > 0">
                    <div class="c-alert__graphic">
                      <svg aria-hidden="true" class="icon-ui">
                        <use href="#lucide-info"></use>
                      </svg>
                    </div>

                    <div class="c-alert__body">
                      <p data-alert="text" aria-live="polite">
                        <span>{{ __('Got it! We found', 'WNYC-Questionnaire') }} <b>v{ totalPosts }</b> {{ __('programs matching your interest.', 'WNYC-Questionnaire') }}
                      </p>
                    </div>
                  </article>

                  <article class="c-alert c-alert-status-status-secondary mb-5" data-js="alert-warning" v-if="success==false">
                    <div class="c-alert__graphic">
                      <svg aria-hidden="true" class="icon-ui">
                        <use href="#lucide-info"></use>
                      </svg>
                    </div>

                    <div class="c-alert__body">
                      <p data-alert="text" aria-live="polite">
                        {{ __('For those choices, we suggest seeing', 'WNYC-Questionnaire') }}

                        <a href="{{ programs_archive }}" tabindex="-1">{{ __('all programs available now.', 'WNYC-Questionnaire') }}</a>

                        {{ __('Add filters on the Programs page to find what’s right for you. To get updates on programs that match your interests, you can also', 'WNYC-Questionnaire') }}

                        <a href="/newsletter" tabindex="-1">{{ __('sign up for our newsletter.', 'WNYC-Questionnaire') }}</a>
                      </p>
                    </div>
                  </article>

                  <article class="c-alert c-alert-status-tertiary mb-5" data-js="alert-warning" v-if="error">
                    <div class="c-alert__graphic">
                      <svg aria-hidden="true" class="icon-ui">
                        <use href="#lucide-info"></use>
                      </svg>
                    </div>

                    <div class="c-alert__body">
                      <p data-alert="text" aria-live="polite">{{ __('Sorry, there was an error on our site. Please try again later.', 'WNYC-Questionnaire') }}</p>
                    </div>
                  </article>
                </div>

                {# <button class="btn btn-primary btn-next w-full" v-if="totalPosts == 0 && checkedFilters.length == 0">{{ __('Find your program now', 'WNYC-Questionnaire') }}</button> #}

                <button class="btn btn-primary btn-next w-full mb-2" v-if="totalPosts > 1 && checkedFilters.length > 0">{{ __('View programs now', 'WNYC-Questionnaire') }}</button>

                <button class="btn btn-primary btn-next w-full mb-2" v-if="totalPosts == 1 && checkedFilters.length > 0">{{ __('View program now', 'WNYC-Questionnaire') }}</button>

                <p class="text-center">Or <a href="/programs">see all programs</a>.</p>
              </div>
            </form>
            {% endif %}

          </div>
        </div>

      </div>

      {% if this.thumbnail %}
      <div class="transform-none aos-init aos-animate" data-aos="fade-in" data-aos-anchor-placement="top-bottom" data-aos-delay="300">
        <img class="bg-image-square hidden tablet:block" style="object-position: {{ this.thumbnail.focal_point }};" src="{{ this.thumbnail.src('tablet') }}" alt="{{ this.thumbnail.alt }}"/>
      </div>
      {% endif %}
    </div>
  </div>

  {# {% if this.thumbnail %}
  <div class="bg-image-grid hidden tablet:grid grid-cols-2">
    <div></div>

    <div class="bg-image-grid__mask-scale-1 relative transform-none aos-init aos-animate" data-aos="fade-in" data-aos-anchor-placement="top-bottom" data-aos-delay="300">
      <img class="bg-image-grid__img" style="object-position: {{ this.thumbnail.focal_point }};" src="{{ this.thumbnail.src('desktop') }}" alt="{{ this.thumbnail.alt }}"/>
    </div>
  </div>
  {% endif %} #}
</section>
