<div class="c-utility wrap">
  <a class="link-icon mie-auto" href="{{ return.link }}">
    <svg aria-hidden="true" class="icon-wnyc-ui rtl:flip">
      <use href="#feather-chevron-left"></use>
    </svg>

    <span>{{ return.label }}</span>
  </a>

  {% for item in cta %}
  <a class="text-inherit mis-3 {{ item.class }}" href="{{ item.link }}">{{ item.label }}</a>
  {% endfor %}

  {% if web_share %}
  {% include 'components/web-share.twig' with {this: {share: web_share, class: 'z-30 right-0'}} only %}
  {% endif %}

  {% if has_filters %}
  <button :disabled="filters.length === 0" aria-controls="aria-c-filter" aria-expanded="false" class="btn btn-small btn-secondary light:btn-primary" data-dialog="open" data-dialog-lock="true" data-js="dialog">
    <span class="mie-1">{{ filters_label }}</span>

    <span class="badge badge-small status-secondary light:status-primary">v{ totalFilters }</span>
  </button>
  {% endif %}
</div>
