<div class="c-utility wrap">
  <a class="link-icon mie-auto" href="{{ return.link }}">
    <svg aria-hidden="true" class="icon-ui rtl:flip">
      <use href="#lucide-chevron-left"></use>
    </svg>

    <span>{{ __('Home', 'WNYC') }}</span>
  </a>

  {% for item in cta %}
  <a class="text-inherit {{ item.class }}" href="{{ item.link }}">{{ item.label }}</a>
  {% endfor %}

  {% if languages %}
  <button class="btn-small" aria-controls="aria-c-text-controller" aria-expanded="false" data-dialog="open" data-dialog-lock="true" data-js="dialog">
    <svg class="icon-ui hidden small:flex">
      <use href="#nyco-languages"></use>
    </svg>

    <span>{{ __('Languages', 'WNYC') }}</span>
  </button>
  {% endif %}

  {% if web_share and post.web_share_hide == false %}
  {% set web_share_id = fn('uniqid') %}

  {% include 'components/web-share.twig' with {this: {
      share: web_share,
      class: 'z-30 right-0',
      id: web_share_id
    }} only %}
  {% endif %}

  {% if has_filters %}
  <button :disabled="filters.length === 0" aria-controls="aria-c-filter" aria-expanded="false" class="btn btn-small btn-secondary light:btn-primary" data-dialog="open" data-dialog-lock="true" data-js="dialog">
    <span class="mie-1">{{ filters_label }}</span>

    <span class="badge badge-small status-secondary light:status-primary">v{ totalFilters }</span>
  </button>
  {% endif %}
</div>
