{% extends "base.twig" %}

{% block content %}
<div class="bg-scale-2">
  <main class="bg-scale-1" id="content">
    <div id="vue-{{ post_type }}" data-filters="{{ filters }}">
      <div class="c-dropdown c-dropdown-max layout-content sticky top-0 bg-scale-1 z-20">
        {% include ['components/utility-nav.twig'] with {
          return: {
            'label': __('Home', 'Program'),
            'link': site.url
          },
          has_filters: true
        } %}

        {% include 'components/filters.twig' %}
      </div>

      <div class="layout-content">
        <div class="page-max">
          <header class="o-header">
            <div>
              <h1 class="o-header__title">{{ page_title }}</h1>

              <h2 class="o-header__subtitle" v-if="checkedFilters.length">Exploring <span v-for="f, i in checkedFilters"><span v-if="checkedFilters.length > 1 && i == checkedFilters.length - 1">and </span>v{ f.name }<span v-if="checkedFilters.length > 2 && i < checkedFilters.length - 1">,</span><span v-if="i == checkedFilters.length - 1">.</span><span v-else>&nbsp;</span></span></h2>

              {% if page_content %}{{ page_content }}{% endif %}

              {% include 'components/breadcrumbs.twig' with {
                crumbs: [
                  {
                    'label': 'Programs',
                    'link': ''
                  }
                ]
              }%}
            </div>
          </header>
        </div>
      </div>

      <section class="page-max desktop:px-6" id="programs">
        {# TODO: [WK-246] [Programs Archive] Loading Spinner #}
        <div v-if="posts == null" class="flex items-center justify-center">
          {% include 'utilities/spinner.twig' with {this: {class: 'icon-4 text-yellow block mie-1'}} only %} {{ __('Loading programs', 'Program') }}
        </div>

        <div class="wrap desktop:px-6 grid gap-3 tablet:grid-cols-2 desktop:gap-5">
          <p data-alert="text" aria-live="polite" class="sr-only" v-if="posts != null">Showing results v{ posts.length } of v{ totalPosts }.</p>

          <article class="c-card" v-for="post in posts">
            <header class="c-card__header">
              <h3 class="c-card__title mt-0 mb-2">
                <a :href="postUrl(post.slug)">
                  <span data-program="plain-language-name" v-html="post.acf.program_title"></span>
                </a>
              </h3>

              <h4 class="c-card__subtitle text-alt mb-1">
                <b data-program="title" v-html="post.title"></b><span data-program="title"> {{ __('by', 'WNYC-Programs') }} </span><span data-program="title" v-html="post.acf.program_agency"></span>
              </h4>
            </header>

            <div class="c-card__body">
              <p class="c-card__status flex items-center" v-if="post.recruitment_status.length > 0 && post.recruitment_status[0].slug=='actively-recruiting'">
                <mark class="badge mie-2" data-program="recruiting">
                  v{ post.recruitment_status[0].name }
                </mark>
              </p>

              <div class="c-card__summary">
                <p>
                  <span data-program="summary">v{ post.acf.program_intro.replace('—', '') | stripHtml }</span>

                  <span v-if="post.populations.length > 0">
                    {{ __('For', 'WNYC-Programs') }}

                    <span v-html="$options.filters.combineStr(post.populations, 'populations', true)"></span>.
                  </span>
                </p>
              </div>

              <ul class="c-card__features">
                <li class="flex items-center" v-if="post.services.length > 0">
                  <svg class="icon-wnyc-ui mie-1" role="img">
                    <title>{{ __('Services', 'WNYC') }}</title>

                    <use href="#feather-award"></use>
                  </svg>

                  <span v-html="$options.filters.combineStr(post.services, 'services', false)"></span>
                </li>

                <li class="flex items-center" v-if="(post.duration.length > 0) || (post.schedule.length > 0)">
                  <svg class="icon-wnyc-ui mie-1" role="img">
                    <title>{{ __('Schedule', 'WNYC') }}</title>

                    <use href="#feather-calendar"></use>
                  </svg>

                  <span v-if="post.duration.length > 0 && post.schedule.length > 0">
                    <span data-program="taxonomy.duration" v-if="post.duration.length > 0">v{ post.duration[0].name }, </span>
                    <span data-program="taxonomy.schedule" v-if="post.schedule.length > 0">v{ post.schedule[0].name }</span>
                  </span>

                  <span v-else>
                    <span data-program="taxonomy.duration" v-if="post.duration.length > 0">v{ post.duration[0].name }</span>
                    <span data-program="taxonomy.schedule" v-if="post.schedule.length > 0">v{ post.schedule[0].name }</span>
                  </span>
                </li>
              </ul>

              <a class="c-card__cta" :href="postUrl(post.slug)">
                <svg aria-hidden="true" class="icon-wnyc-ui rtl:flip">
                  <use href="#feather-arrow-left"></use>
                </svg>

                <span>
                  {{ __('Learn more', 'WNYC-Programs') }} <span class="sr-only">{{ __('about', 'WNYC-Programs') }} <span data-program="plain-language-name">v{ post.acf.program_title }</span></span>
                </span>

                <svg aria-hidden="true" class="icon-wnyc-ui rtl:flip">
                  <use href="#feather-arrow-right"></use>
                </svg>
              </a>
            </div>
          </article>

          {# Suggest #}
          <article class="c-alert items-center" data-js="alert-help" v-if="totalVisible > 0 && totalVisible == totalPosts">
            <div class="c-alert__graphic h-full">
              <svg aria-hidden="true" class="icon-wnyc-ui">
                <use href="#feather-help-circle"></use>
              </svg>
            </div>

            <div class="c-alert__body">
              <b class="text-alt mb-1">
                {{ options.new_program_heading }}
              </b>

              <p data-js-alert="text">{{ options.new_program_body | striptags('<a><svg><title><use>') }}</p>
            </div>
          </article>
          {# Suggest end #}

          {# <article aria-hidden="true"></article> #}
        </div>
      </section>

      <div class="layout-content py-6 pb-8 mb-4">
        <div class="wrap">
          <button id="pagination" class="btn btn-primary w-full" v-if="totalVisible < totalPosts" v-on:click="page += 1; updateScroll();">{{ __('Show more', 'WNYC')}}</button>
        </div>
      </div>
    </div>

    {% if options.feedback is defined %}
    {% include 'objects/feedback.twig' %}
    {% endif %}

    {% if show_newsletter is not defined %}
    {% include 'objects/newsletter.twig' %}
    {% endif %}
  </main>
</div>
{% endblock %}
