{# @Type   View #}
{# @For    Post Type #}
{# @Class  timber-posts/Programs.php #}
{% extends "base.twig" %}

{% block content %}
<div class="bg-scale-2">
  <main class="bg-scale-1" id="content">
    <div class="desktop:max-w-[963px] site-max-width sticky top-0 bg-scale-1 z-20">
      {% include ['components/utility-nav.twig'] with {
        cta: (post.get_field('program_next_steps')) ? [
          {
            'label': __('Next Steps', 'WNYC'),
            'link': '#next-steps'
          }
        ] : [],
        languages: post.languages,
        web_share: {
          'title': post.program_title,
          'text': (post.web_share_text) ? post.web_share_text : post.get_field('program_intro')|striptags,
          'url': fn('wp_get_shortlink'),
          'subject': post.program_title
        }
      } %}
    </div>

    {# Header Section #}
    <div class="desktop:max-w-[963px] site-max-width">
      <header class="o-header px-0">
        <div class="w-full">
          {% include 'components/breadcrumbs.twig' with {
            crumbs: [
              {
                'label': 'Programs',
                'link': post.archive
              },
              {
                'label': post.title,
                'link': ''
              }
            ]
          } %}

          <div class="o-header__title">
            <h1 id="page-heading" class="o-header__heading">{{ post.program_plain_language_title }}</h1>
          </div>

          <h2 class="o-header__subtitle">
            <b>{{ post.program_title }}</b> 
            {% if post.program_provider and post.program_agency %}
              {{ __('by', 'WNYC') }} {{ post.program_agency }} | {{ post.program_provider }}
            {% elseif post.program_provider or post.program_agency %}
              {{ __('by', 'WNYC') }} {{ post.program_provider }}{{ post.program_agency }}
            {% else %}
            {% endif %}
          </h2>

          {% if post.terms('recruitment_status')[0].slug == 'actively-recruiting' %}
          <p>
            <mark class="badge mie-2" data-program="recruiting">
              {{ post.terms('recruitment_status')[0] }}
            </mark>
          </p>
          {% endif %}

          {% if post.terms('services') %}
          <p class="small flex items-center">
            <a class="link-anchor inline-flex flex-shrink-0 mie-1" href="#more-information">
              <svg class="icon-ui icon-2" role="img">
                <title>{{ __('Services Provided', 'WNYC') }}</title>

                <use href="#lucide-award"></use>
              </svg>
            </a>

            <span>{{ post.terms('services')|map(s => "#{s.name}")|join(', ') }}</span>
          </p>
          {% endif %}

          {% if post.terms('populations') %}
          <p class="small flex items-center">
            {% if post.get_field('program_eligibility') %}
            <a class="link-anchor inline-flex flex-shrink-0 mie-1" href="#eligibility">
              <svg class="icon-ui icon-2" role="img">
                <title>{{ __('Eligibility', 'WNYC') }}</title>

                <use href="#lucide-users"></use>
              </svg>
            </a>
            {% else %}
            <svg class="icon-ui icon-2 flex-shrink-0 mie-1" role="img">
              <title>{{ __('Eligibility', 'WNYC') }}</title>

              <use href="#lucide-users"></use>
            </svg>
            {% endif %}

            <span>{{ post.terms('populations')|map(s => "#{s.name}")|join(', ') }}</span>
          </p>
          {% endif %}

          {% if post.terms('duration') or post.terms('schedule') %}
          <p class="small flex items-center">
            {% if post.get_field('program_schedule') %}
            <a class="link-anchor inline-flex flex-shrink-0 mie-1" href="#schedule">
              <svg class="icon-ui icon-2" role="img">
                <title>{{ __('Schedule', 'WNYC') }}</title>

                <use href="#lucide-calendar"></use>
              </svg>
            </a>
            {% else %}
            <svg class="icon-ui icon-2 mie-1" role="img">
              <title>{{ __('Schedule', 'WNYC') }}</title>

              <use href="#lucide-calendar"></use>
            </svg>
            {% endif %}


            <span>{% if post.terms('duration') %}{{ post.terms('duration')[0] }}{% endif %}{% if post.terms('duration') and post.terms('schedule') %}, {% endif %}{% if post.terms('schedule') %}{{ post.terms('schedule')[0] }}{% endif %}</span>
          </p>
          {% endif %}

          {% if post.get_field('program_disability') %}
          <p class="small flex items-center">
            <a class="link-anchor inline-flex flex-shrink-0 mie-1" href="#disability-accommodation">
              <svg class="icon icon-2" role="img">
                <title>{{ __('Disability Accommodation', 'WNYC') }}</title>

                <use href="#nyco-accessibility"></use>
              </svg>
            </a>

            <span>{{ __('Disability Accommodation', 'WNYC') }}</span>
          </p>
          {% endif %}

          {% if post.get_field('program_language_access') %}
          <p class="small flex items-center">
            <a class="link-anchor inline-flex flex-shrink-0 mie-1" href="#language-access">
              <svg class="icon-ui icon-2" role="img">
                <title>{{ __('Language Access', 'WNYC') }}</title>

                <use href="#nyco-languages"></use>
              </svg>
            </a>

            <span>{{ __('Language Access', 'WNYC') }}</span>
          </p>
          {% endif %}

          <p class="small flex items-center">
            <svg class="icon-ui mie-1 icon-2" role="img">
              <title>{{ __('Last Updated', 'WNYC') }}</title>

              <use href="#lucide-info"></use>
            </svg>

            {{ __('Last updated', 'WNYC') }} {{ modified_date }}
          </p>

          {% if post.get_field('program_next_steps') %}
          <div class="pt-3">
            <a href="#next-steps" class="btn btn-secondary w-full">{{ __('Next Steps', 'WNYC') }}</a>
          </div>
          {% endif %}
        </div>
      </header>
    </div>

    {# Sections #}
    <div class="bg-scale-2 desktop:max-w-[963px] site-max-width">
      <div class="py-4">
        <section class="pt-utility-anchor" id="more-information">
          {% if post.get_field('program_intro') or post.preview %}
          <blockquote class="text-alt mt-0 {% if post.get_field('program_intro') %}{% elseif post.preview %}pb-8{% endif %}">
            {% if post.get_field('program_intro') %}
            <p>{{ post.get_field('program_intro') }}</p>
            {% elseif post.preview %}
            <p>{{ post.preview }}</p>
            {% endif %}
          </blockquote>
          {% endif %}

          {{ post.get_field('program_more_info')|wpautop }}
        </section>

        {% if post.get_field('program_eligibility') %}
        <section>
          <div class="pt-utility-anchor bg-scale-2 sticky top-0" id="eligibility">
            <h3 class="h5 flex items-center mb-3 text-alt border-b border-scale-4 py-2 tablet:py-3">
              <a class="link-anchor flex flex-shrink-0 mie-1" href="#eligibility" aria-label="{{ __('Copy link to this section', 'WNYC') }}">
                <svg class="icon-ui" role="img">
                  <title>{{ __('Who it\'s for', 'WNYC') }}</title>

                  <use href="#lucide-users"></use>
                </svg>
              </a>

              {{ __('Who it\'s for', 'WNYC') }}
            </h3>
          </div>

          {{ post.get_field('program_eligibility')|wpautop }}
        </section>
        {% endif %}

        {% if post.get_field('program_schedule') %}
        <section>
          <div class="pt-utility-anchor bg-scale-2 sticky top-0" id="schedule">
            <h3 class="h5 flex items-center mb-3 text-alt border-b border-scale-4 py-2 tablet:py-3">
              <a class="link-anchor flex flex-shrink-0 mie-1" href="#schedule" aria-label="{{ __('Copy link to this section', 'WNYC') }}">
                <svg class="icon-ui" role="img">
                  <title>{{ __('Duration and Length', 'WNYC') }}</title>

                  <use href="#lucide-calendar"></use>
                </svg>
              </a>

              {{ __('Duration and Length', 'WNYC') }}
            </h3>
          </div>

          {{ post.get_field('program_schedule')|wpautop }}
        </section>
        {% endif %}

        {% if post.get_field('program_disability') %}
        <section>
          <div class="pt-utility-anchor bg-scale-2 sticky top-0" id="disability-accommodation">
            <h3 class="h5 flex items-center mb-3 text-alt border-b border-scale-4 py-2 tablet:py-3">
              <a class="link-anchor flex flex-shrink-0 mie-1" href="#disability-accommodation" aria-label="{{ __('Copy link to this section', 'WNYC') }}">
                <svg class="icon" role="img">
                  <title>{{ __('Disability Accommodation', 'WNYC') }}</title>

                  <use href="#nyco-accessibility"></use>
                </svg>
              </a>

              {{ __('Disability Accommodation', 'WNYC') }}
            </h3>
          </div>

          {{ post.get_field('program_disability')|wpautop }}
        </section>
        {% endif %}

        {% if post.get_field('program_language_access') %}
        <section>
          <div class="pt-utility-anchor bg-scale-2 sticky top-0" id="language-access">
            <h3 class="h5 flex items-center mb-3 text-alt border-b border-scale-4 py-2 tablet:py-3">
              <a class="link-anchor flex flex-shrink-0 mie-1" href="#language-access" aria-label="{{ __('Copy link to this section', 'WNYC') }}">
                <svg class="icon-ui" role="img">
                  <title>{{ __('Language Access', 'WNYC') }}</title>

                  <use href="#nyco-languages"></use>
                </svg>
              </a>

              {{ __('Language Access', 'WNYC') }}
            </h3>
          </div>

          {{ post.get_field('program_language_access')|wpautop }}
        </section>
        {% endif %}

        {% if post.get_field('program_next_steps') %}
        <section>
          <div class="pt-utility-anchor bg-scale-2 sticky top-0" id="next-steps">
            <h3 class="h5 flex items-center mb-3 text-alt border-b border-scale-4 py-2 tablet:py-3">
              {{ __('Next Steps', 'WNYC') }}
            </h3>
          </div>

          {{ post.get_field('program_next_steps') }}
        </section>
        {% endif %}
      </div>
    </div>

    {# Links #}
    <section class="desktop:max-w-[963px] site-max-width bg-scale-1 py-4 pb-8" id="contact">
      <nav class="grid gap-1" aria-label="{{ __('Contact Information', 'WNYC') }}">
        {% if post.program_learn_more %}
        <a class="btn btn-secondary w-full" href="{{ post.program_learn_more }}" target="_blank" rel="noopener">
          <span>{{ post.link_label }}</span>
          {# <span>{{ __('Learn More', 'WNYC') }} <span class="sr-only">{{ __('about', 'WNYC') }} {{ post.program_title }}</span></span> #}

          <svg aria-hidden="true" class="icon-ui rtl:flip">
            <use href="#lucide-external-link"></use>
          </svg>
        </a>
        {% endif %}

        {% if post.program_apply_online %}
        <a class="btn btn-secondary w-full" href="{{ post.program_apply_online }}" target="_blank" rel="noopener">
          <span>{{ __('Apply', 'WNYC') }} <span class="sr-only">{{ __('for', 'WNYC') }} {{ post.program_title }}</span></span>

          <svg aria-hidden="true" class="icon-ui rtl:flip">
            <use href="#lucide-external-link"></use>
          </svg>
        </a>
        {% endif %}

        {% if post.program_call %}
        <a class="btn btn-secondary w-full" href="tel:{{ post.program_call|trim|replace({'(':'', ')':'', '-':''}) }}">
          {{ __('Call', 'WNYC') }} {{ post.program_call }} <span class="sr-only">{{ __('about', 'WNYC') }} {{ post.program_title }}</span>
        </a>
        {% endif %}

        {% if post.program_email %}
        <a class="btn btn-secondary w-full" href="mailto:{{ post.program_email }}">
          {{ __('Email', 'WNYC') }} {{ post.program_email }} <span class="sr-only">{{ __('about', 'WNYC') }} {{ post.program_title }}</span>
        </a>
        {% endif %}
      </nav>
    </section>

    {# Suggest Update #}
    <section class="desktop:max-w-[963px] site-max-width bg-scale-1 pb-4 pb-8 mb-8" id="suggest-update">
      <div>
        <article class="c-alert" data-js="alert-help">
          <div class="c-alert__graphic">
            <svg aria-hidden="true" class="icon-ui">
              <use href="#lucide-help-circle"></use>
            </svg>
          </div>

          <div class="c-alert__body">
            <b class="text-alt mb-1">
              {{ options.update_program_heading }}
            </b>

            <p data-js-alert="text">{{ options.update_program_body|striptags('<a><svg><title><use>') }}</p>
          </div>
        </article>
      </div>
    </section>
    {% if show_newsletter is not defined %}
    {% include 'objects/newsletter.twig' %}
    {% endif %}
  </main>
</div>
{% endblock %}

