{# @Type   Component #}
{# @For    Post Type #}
<article class="c-card h-full">
  <div>{{ post.job_board_title }}</div>
  <div>{{ post.description }}</div>
  <div>{{ post.agency }}</div>
  <a href="{{ post.cta_link.url }}" target="{{ post.cta_link.target }}">{{ post.cta_link.title }}</a>

  {# <div>{{ dump(post) }}</div> #}
</article>
