
<div class="transform-none p-[32px] rounded-[5px] border-2 border-[#F0F6FA] desktop:relative tablet:relative">
    <header class="pb-2 border-b-2 border-[#F0F6FA]">
        <a href="{{ function('convert_link_locale', this.jobs_event_link.url , site.site_url, site.url) }}" target="{{ this.jobs_event_link.target }}" class="c-card__header-link visited:text-[#004CBE] hover:text-[#080707]">
            <h5 class="c-card__title text-[20px] desktop:text-[22px]">
                <span>{{ this.jobs_event_title }}</span>
            </h5>
        </a>
    </header>

    <div class="pt-[24px] desktop:min-h-[173px] tablet:min-h-[198px] min-h-[170px] pb-[24px]">
        <p class="flex mb-[10px]">
            <svg aria-hidden="true" class="icon-ui c-card__feature-icon w-[24px] h-[24px]">
            <use href="#lucide-calendar"></use>
            </svg>
            {{ this.jobs_event_date|date(fn('get_option', 'date_format'))}}
        </p>
        <p class="flex mb-[10px]">
            <svg aria-hidden="true" class="icon-ui c-card__feature-icon w-[24px] h-[24px]">
            <use href="#temp-lucide-clock"></use>
            </svg>
            <span>{{ this.jobs_event_start_time|date(fn('get_option', 'time_format'))}}</span>
            <span class="pl-[8px] pr-[8px]">to</span>
            <span>{{ this.jobs_event_end_time|date(fn('get_option', 'time_format'))}}</span>
        </p>
        <p class="flex mb-[24px]">
            <svg aria-hidden="true" class="icon-ui c-card__feature-icon w-[24px] h-[24px]">
            <use href="#lucide-map-pin"></use>
            </svg>{{ this.jobs_event_location}}
        </p>
    </div>
</div>
