{# @Type   Component #}
{# @For    Post Type #}
{# @Class  timber-posts/Guides.php #}
<a href="{{ post.link }}" class="c-card__header-link">
<article class="c-card c-card-transparent rounded desktop:p-4 tablet:p-3 p-3 mobile-width-344 mobile-height-200 desktop-width-400 desktop-height-214 tablet-width-240 tablet-height-258">
  <header class="items-center">
    {% if post.icon == '' %}<span>{% endif %}
      {% if post.icon %}
      <svg class="c-card__icon text-blue-d-1 fill-blue-l-1" role="img">
        <title>{{ post.icon.name }}</title>
        <use href="#program-card-{{ post.icon.slug }}"></use>
      </svg>
      {% endif %}
    {% if post.icon == '' %}</span>{% endif %}
  </header>

  <div class="pt-3">
        <span class="desktop-font-title mobile-font-title desktop:mb-2 tablet:mb-2">
            {{ post.title }}
        </span>

    <div class="c-card__summary">
      {{ post.preview|wpautop }}
    </div>

    <span></span>
  </div>
</article>
</a>