{# @Type   Component #}
{# @For    Post Type #}
{# @Class  timber-posts/Guides.php #}
<a href="{{ post.link }}" class="c-card__header-link">
<article class="desktop:p-4 p-3">
  <header class="items-center">
    {% if post.icon == '' %}<span>{% endif %}
      {% if post.icon %}
      <svg class="c-card__icon text-blue-d-1 fill-blue-l-1" role="img">
        <title>{{ post.icon.name }}</title>
        <use href="#program-card-{{ post.icon.slug }}"></use>
      </svg>
      {% endif %}
    {% if post.icon == '' %}</span>{% endif %}
  </header>

  <div class="pt-3">
        <h5>
            {{ post.title }}
        </h5>

    <div>
      {{ post.preview|wpautop }}
    </div>

    <span></span>
  </div>
</article>
</a>