{# @Type   View #}
{# @For    Post Type #}
{# @Class  timber-posts/Guides.php #}
{% extends "base.twig" %}

{% block content %}
<div class="bg-scale-2">
  <main class="bg-scale-1">
    {# Header Section #}
    {% if post.thumbnail %}
    <header class="o-header px-0 relative">
      <div class="site-max-width py-2 tablet:py-8 tablet:grid grid-cols-2 gap-x-5">
        <div>
          {% include 'components/breadcrumbs.twig' with {
            crumbs: [
              {
                'label': post.title,
                'link': ''
              }
            ]
          } %}

          <div class="o-header__title">
            {% if post.icon %}
            <svg class="o-header__icon text-blue-d-1 fill-blue-l-1" role="img">
              <title>{{ post.icon.name }}</title>

              <use href="#program-card-{{ post.icon.slug }}"></use>
            </svg>
            {% endif %}

            <h1 id="page-heading" class="o-header__heading">{{ post.title }}</h1>
          </div>

          {% set featured_image = '<img class="bg-image-square mb-2 tablet:hidden animated fadeIn" loading="eager" style="object-position: ' ~ post.thumbnail.focal_point ~ ';" src="' ~ post.thumbnail.src('tablet') ~ '" alt="' ~ post.thumbnail.alt ~ '"/>' %}
          {{ post.post_content|replace({"<!-- featured_image -->": featured_image}) }}
        </div>
        <div class="hidden tablet:flex">
          <img class="w-full max-h-[500px] object-cover" style="object-position: ' ~ post.thumbnail.focal_point ~ ';" loading="eager" src="{{ post.thumbnail.src('desktop') }}" alt="{{ post.thumbnail.alt }}"/>
        </div>
      </div>
    </header>
    {% else %}
    <div class="site-max-width">
      <header class="o-header px-0">
        <div class="w-full">
          {% include 'components/breadcrumbs.twig' with {
              crumbs: [
                {
                  'label': post.title,
                  'link': ''
                }
              ]
            } %}

          <div class="o-header__title">
            {% if post.icon %}
            <svg class="o-header__icon text-blue-d-1 fill-blue-l-1" role="img">
              <title>{{ post.icon.name }}</title>

              <use href="#program-card-{{ post.icon.slug }}"></use>
            </svg>
            {% endif %}

            <h1 id="page-heading" class="o-header__heading">{{ post.title }}</h1>
          </div>
          {{ post.post_content }}
        </div>
      </header>
    </div>
    {% endif %}

    <div class="bg-scale-0" id="explore">
      <div class="pb-8 mb-8">
        <div class="py-4">
          {% if collections %}
          {% for collection in collections %}
          {% include collection.template with {this: collection} only %}
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>

    {% if show_newsletter is not defined %}
    {% include 'objects/newsletter.twig' %}
    {% endif %}
  </main>
</div>
{% endblock %}