<nav aria-label="{{ employer_header_menu.name }}" class="bg-[#F8F9FB] px-2 tablet:px-5 desktop:px-3 py-1 flex justify-between align-middle items-center" data-js="navigation">
  <div class="flex">
    <a class="tablet:hidden" href="{{ function('convert_link_locale', site.site_url ~ '/employers' , site.site_url, site.url) }}">
      <svg class="o-navigation__svg fill-text text-brand" width="60" height="11">
        <title>{{ __('Jobs NYC employer homepage', 'WNYC - Navigation') }}</title>
        <use href="#logo-jobs-nyc-black-blue"></use>
      </svg>
    </a>
    <a class="hidden tablet:flex tablet:pr-2" href="https://mycity.nyc.gov/" target="_blank" rel="noopener">
      <svg class="o-navigation__svg fill-text text-brand" width="110" height="18">
        <title>{{ __('My City NYC', 'WNYC - Navigation') }}</title>
        <use href="#logo-nyc-mycity"></use>
      </svg>
    </a>
    <span class="hidden tablet:block desktop-font-size-13">{{ __('Official website of the City of New York', 'WNYC - Navigation') }}</span>
  </div>
  <div>
    <button class="py-1 px-1 flex items-center no-underline hover:underline active:underline" aria-controls="aria-c-text-controller" aria-expanded="false" data-dialog="open" data-js-dialog="language" data-dialog-lock="true" data-js="dialog">
      <svg class="h-3 w-3 mr-[4px]">
        <use href="#languages-nav"></use>
      </svg>
      <span class="text-xs font-[500] desktop:text-sm text-[#080707]">{{ __('Language', 'WNYC - Navigation') }}</span>
      <svg class="h-3 w-3 fill-none stroke-black active" data-js="language-up-arrow">
        <use href="#lucide-chevron-down"></use>
      </svg>
      <svg class="h-3 w-3 fill-none stroke-black hidden" data-js="language-down-arrow">
        <use href="#lucide-chevron-up"></use>
      </svg>
    </button>
    {% include 'objects/languages-dropdown.twig' %}
  </div>
</nav>
<nav aria-label="{{ employer_header_menu.name }}" class="flex justify-between border-t-4 border-[#2D3282] px-2 tablet:px-5 desktop:px-3 py-2 desktop:py-3 bg-white" data-js="navigation">
  <div class="items-center flex bg-scale-0 tablet:bg-transparent">
    <a class="pr-2 hidden tablet:block" href="{{ function('convert_link_locale', site.site_url ~ '/employers' , site.site_url, site.url) }}">
      <svg class="o-navigation__svg fill-text text-brand" width="196" height="22">
        <title>{{ __('Jobs NYC employer homepage', 'WNYC - Navigation') }}</title>
        <use href="#logo-jobs-nyc-employer"></use>
      </svg>
    </a>
    <h6 class="mt-0 tablet:hidden">{{ __('Employers', 'WNYC - Navigation') }}</h6>
  </div>
  <div>
    {% for menu_item in employer_header_menu.get_items %}
      <a class="o-navigation__item mr-2 font-[500] desktop:py-2 desktop-px-12 text-[#080707] no-underline hover:underline active:underline" width="84" height="70" target="{{menu_item.target}}" href="{{ function('convert_link_locale', menu_item.link, site.site_url, site.url) }}">{{ menu_item.title }}</a>
    {% endfor %}
  </div>
  <button class="desktop:hidden mie-0" aria-controls="aria-c-menu" aria-expanded="false" data-js="menu" data-js-menu="open">
    <svg class="icon-ui m-0 w-3 h-3">
      <title>{{ __('Menu', 'WNYC - Navigation') }}</title>
      <use href="#lucide-menu"></use>
    </svg>
  </button>
</nav>
{% include 'objects/menu.twig' %}
<nav class="z-10 px-3 py-1 relative flex flex-col border-t-2 border-[#D4D7DC] items-center bg-white tablet:hidden" data-js="navigation">
  <a href="https://mycity.nyc.gov/" target="_blank" rel="noopener">
    <svg class="o-navigation__svg fill-text text-brand" width="110" height="18">
      <title>{{ __('My City NYC', 'WNYC - Navigation') }}</title>
      <use href="#logo-nyc-mycity"></use>
    </svg>
  </a>
  <span class="m-auto">{{ __('Official website of the City of New York', 'WNYC - Navigation') }}</span>
</nav>