<nav aria-label="Header menu" class="z-40 bg-[#F8F9FB] desktop:bg-white px-3 relative shadow-none desktop:shadow-[2px_2px_20px_0px_#D4D7DC] desktop:border-0 border-b-2 border-[#D4D7DC]" data-js="navigation">
  <div class="desktop:bg-white bg-slate-300 flex justify-between">
    <div class="flex">
      <a class="my-auto" href="https://mycity.nyc.gov/" target="_blank" rel="noopener">
        <svg class="o-navigation__svg hidden tablet:hidden desktop:block fill-text text-brand" width="110" height="18">
          <title>{{ __('My City NYC', 'WNYC - Navigation') }}</title>
          <use href="#logo-nyc-mycity"></use>
        </svg>
      </a>
      <div class="hidden tablet:block desktop:block desktop:pl-1 my-auto float-left desktop-font-size-13">{{ __('Official website of the City of New York', 'WNYC') }}</div>
    </div>
    <div>
      <button class="py-1 px-1 flex items-center" aria-controls="aria-c-text-controller" aria-expanded="false" data-dialog="open" data-dialog-lock="true" data-js="dialog">
        <svg class="h-3 w-3 mr-[4px]">
          <use href="#languages-nav"></use>
        </svg>
        <span class="text-xs font-[500] desktop:text-sm">{{ __('Language', 'WNYC - Navigation') }}</span>
        <svg class="h-3 w-3 fill-none stroke-black">
          <use href="#lucide-chevron-down"></use>
        </svg>
      </button>
      {% include 'objects/languages-dropdown.twig' %}
    </div>
  </div>
</nav>
<nav class="z-30 h-7 flex relative bg-white desktop:hidden px-3 py-1 shadow-none tablet:shadow-[2px_2px_20px_0px_#D4D7DC] tablet:border-0 border-b-2 border-[#D4D7DC]" data-js="navigation">
  <div class="o-navigation__home m-auto tablet:ml-0 bg-scale-1 tablet:bg-transparent">
  <a href="https://mycity.nyc.gov/" target="_blank" rel="noopener">
    <svg class="o-navigation__svg fill-text text-brand" width="110" height="18">
      <title>{{ __('My City NYC', 'WNYC - Navigation') }}</title>
      <use href="#logo-nyc-mycity"></use>
    </svg>
  </a>
  </div>
</nav>
<nav class="z-20 px-3 py-1 relative text-center bg-white tablet:hidden shadow-[2px_2px_20px_0px_#D4D7DC]" data-js="navigation">
     <span class="m-auto">{{ __('Official website of the City of New York', 'WNYC - Navigation') }}</span>
</nav>