<div class="hidden fixed z-50 w-full bg-[#F8F9FB] px-2 tablet:px-5 py-2 h-full tablet:h-auto" id="aria-c-menu" aria-hidden="true">
  <div class="flex items-center mb-auto">
    <div class="o-menu__wrap">
      <nav class="o-menu__nav" aria-label="{{ __('Menu', 'WNYC') }}">
        {% if employer == true %}
          {% for menu_item in employer_header_menu.get_items %}
            <a class="o-menu__nav-item py-2" href="{{ function('convert_link_locale', menu_item.link , site.site_url, site.url) }}" tabindex="-1">{{ menu_item.title }}</a>
          {% endfor %}
        {% else %}
          {% for menu_item in job_seeker_header_menu.get_items %}
            <a class="o-menu__nav-item py-2" href="{{ function('convert_link_locale', menu_item.link , site.site_url, site.url) }}" tabindex="-1">{{ menu_item.title }}</a>
          {% endfor %}
        {% endif %}
      </nav>
    </div>
  </div>
</div>