<nav aria-label="{{ header_menu.name }}" class="o-navigation o-navigation-fixed" data-js="navigation">
  <a class="o-navigation__home o-navigation__menu-item bg-scale-1 tablet:bg-transparent" href="{{ site.url }}">
    <span class="sr-only">Working N Y C</span>

    <svg aria-hidden="true" class="o-navigation__svg hidden tablet:inline fill-text text-brand" width="160" height="23">
      <use href="#logo-wknyc-horizontal"></use>
    </svg>

    <svg aria-hidden="true" class="o-navigation__svg tablet:hidden fill-text text-brand" width="78" height="48">
      <use href="#logo-wknyc-stacked"></use>
    </svg>
  </a>

  {% for menu_item in header_menu.get_items %}
  <a class="o-navigation__item" href="{{ menu_item.link }}">{{ menu_item.title }}</a>
  {% endfor %}

  {# <button aria-controls="aria-c-search" aria-expanded="false" class="o-navigation__menu-item btn-link desktop:m-0" data-js="search">
    <svg class="o-navigation__menu-icon icon-ui">
      <use href="#search"></use>
    </svg>
    <span class="o-navigation__menu-label">{{__('Search', 'WNYC')}}</span>
  </button> #}

  <button class="o-navigation__item" data-js="themes">
    <svg class="o-navigation__menu-icon icon-ui">
      <use data-js-themes="icon" href="#lucide-moon"></use>
    </svg>

    <span class="sr-only">Toggle&nbsp;</span><span class="o-navigation__menu-label" data-js-themes="label">{{ __('Theme', 'WNYC') }}</span>
  </button>

  <button class="o-navigation__menu-item desktop:m-0" aria-controls="aria-c-text-controller" aria-expanded="false" data-dialog="open" data-dialog-lock="true" data-js="dialog">
    <svg class="o-navigation__menu-icon icon-ui">
      <use href="#nyco-languages"></use>
    </svg>

    <span class="o-navigation__menu-label">{{ __('Languages', 'WNYC') }}</span>
  </button>

  <button class="o-navigation__menu-item desktop:hidden mie-0" aria-controls="aria-c-menu" aria-expanded="false" data-js="menu" data-js-menu="open">
    <svg class="o-navigation__menu-icon icon-ui">
      <use href="#lucide-menu"></use>
    </svg>

    <span class="o-navigation__menu-label">{{ __('Menu', 'WNYC') }}</span>
  </button>

  {% include 'objects/menu.twig' %}
</nav>