<nav aria-label="{{ job_seeker_header_menu.name }}" class="mobile-border-b-line tablet-border-b bgcolor-white px-3 o-navigation" data-js="navigation">
  <a href="{{ site.url }}" class="my-auto">
    <svg aria-hidden="true" class="o-navigation__svg hidden tablet:hidden desktop:block fill-text text-brand" width="51" height="16">
      <use href="#logo-nyc-black"></use>
    </svg>
  </a>
    <div class="hidden tablet:block desktop:block desktop:pl-1 o-navigation__home my-auto float-left desktop-font-size-13">{{ __('Official website of the City of New York', 'WNYC') }}</div>
  <button class="border-b-line py-1 px-1 float-right" aria-controls="aria-c-text-controller" aria-expanded="false" data-dialog="open" data-dialog-lock="true" data-js="dialog">
    <svg class="h-3 w-3">
      <use href="#languages-nav"></use>
      <span class="text-xs desktop:text-sm">{{ __('Language | English', 'WNYC') }}</span>
    </svg>
  </button>
</nav>
{# <nav aria-label="{{ header_menu.name }}" class="bgcolor-white mobile-border-b-line desktop:hidden px-3 py-1 o-navigation" data-js="navigation">
  <div class="o-navigation__home m-auto tablet:ml-0 bg-scale-1 tablet:bg-transparent">
  <a class="pr-2" href="{{ site.url }}">
    <svg aria-hidden="true" class="o-navigation__svg fill-text text-brand" width="51" height="16">
      <use href="#logo-nyc-black"></use>
    </svg>
  </a>
  </div>
   {% for menu_item in header_menu.get_items %}
  <a class="o-navigation__item mr-2 desktop:py-2 desktop-px-12" width="84" height="70" href="{{ menu_item.link }}">{{ menu_item.title }}</a>
</nav> #}
<nav aria-label="{{ job_seeker_header_menu.name }}" class="o-navigation o-navigation-fixed" data-js="navigation">
  <a class="o-navigation__home o-navigation__menu-item bg-scale-1 tablet:bg-transparent" href="{{ site.url }}">
    <span class="sr-only">Job Ready by Jobs N Y C</span>

    <svg aria-hidden="true" class="o-navigation__svg hidden tablet:inline fill-text text-brand" width="160" height="23">
      <use href="#logo-jnyc-horizontal"></use>
    </svg>

    <svg aria-hidden="true" class="o-navigation__svg tablet:hidden fill-text text-brand" width="78" height="48">
      <use href="#logo-jnyc-stacked"></use>
    </svg>
  </a>

  {% for menu_item in job_seeker_header_menu.get_items %}
  <a class="o-navigation__item" href="{{ menu_item.link }}">{{ menu_item.title }}</a>
  {% endfor %}
</nav>
<nav class="bgcolor-white tablet:hidden desktop:hidden o-navigation" data-js="navigation">
     <span class="py-1 m-auto mobile-font-size-13">Official website of the City of New York</span>
</nav>
<nav>
  <button class="o-navigation__menu-item" aria-controls="aria-c-text-controller" aria-expanded="false" data-dialog="open" data-dialog-lock="true" data-js="dialog">
    <svg class="o-navigation__menu-icon icon-ui">
      <use href="#nyco-languages"></use>
    </svg>

    <span class="o-navigation__menu-label">{{ __('Languages', 'WNYC') }}</span>
  </button>
  
  <button class="o-navigation__item desktop:m-0" aria-controls="aria-c-search" aria-expanded="false" data-dialog="open" data-js="search">
    <svg class="o-navigation__menu-icon icon-ui">
      <title>{{__('Search', 'WNYC')}}</title>
      <use href="#lucide-search"></use>
    </svg>
    <span class="o-navigation__menu-label">{{__('Search', 'WNYC') }}</span>
  </button>

  <button class="o-navigation__menu-item desktop:hidden mie-0" aria-controls="aria-c-menu" aria-expanded="false" data-js="menu" data-js-menu="open">
    <svg class="o-navigation__menu-icon icon-ui">
      <use href="#lucide-menu"></use>
    </svg>

    <span class="o-navigation__menu-label">{{ __('Menu', 'WNYC') }}</span>
  </button>

  {% include 'objects/menu.twig' %}
</nav>
