<nav aria-label="Navigation" class="o-navigation bg-scale-2 o-navigation-fixed" role="navigation" data-js="navigation">
  <a class="o-navigation__logo o-navigation__menu-item bg-scale-1 tablet:bg-transparent tablet:p-0" href="{{ site.url }}">
    <span class="sr-only">Working N Y C</span>

    <svg aria-hidden="true" class="hidden tablet:inline icon-logo-standard-menu-item fill-text text-brand">
      <use href="#logo-wnyc-standard"></use>
    </svg>

    <svg aria-hidden="true" class="tablet:hidden icon-logo-stacked-menu-item fill-text text-brand">
      <use href="#logo-wnyc-stacked"></use>
    </svg>
  </a>

  {% for menu_item in header_menu.get_items %}
  <a class="o-navigation__item" href="{{ menu_item.link }}">{{ menu_item.title }}</a>
  {% endfor %}

  {# <button aria-controls="aria-c-search" aria-expanded="false" class="o-navigation__menu-item btn-link desktop:m-0" data-js="search">
    <svg class="o-navigation__menu-icon icon-wnyc-ui">
      <use href="#search"></use>
    </svg>
    <span class="o-navigation__menu-label">{{__('Search', 'WNYC - Navigation')}}</span>
  </button> #}

  <button class="o-navigation__item" data-js="themes">
    <svg class="o-navigation__menu-icon icon-wnyc-ui">
      <use data-js-themes="icon" href="#feather-sun"></use>
    </svg>

    <span class="o-navigation__menu-label" data-js-themes="label">{{ __('Theme', 'WNYC - Navigation') }}</span>
  </button>

  <button aria-controls="aria-c-text-controller" aria-expanded="false" class="o-navigation__menu-item desktop:m-0" data-dialog="open" data-dialog-lock="true" data-js="dialog">
    <svg class="o-navigation__menu-icon icon-wnyc-ui">
      <use href="#icon-wnyc-translate"></use>
    </svg>

    <span class="o-navigation__menu-label">{{ __('Translate', 'WNYC - Navigation') }}</span>
  </button>

  <button aria-haspopup="menu" aria-controls="aria-c-menu" aria-expanded="false" class="o-navigation__menu-item desktop:hidden mie-0" data-js="menu" data-js-menu="open">
    <svg class="o-navigation__menu-icon icon-wnyc-ui">
      <use href="#feather-menu"></use>
    </svg>

    <span class="o-navigation__menu-label">{{ __('Menu', 'WNYC - Navigation') }}</span>
  </button>
</nav>