{# @Type   Component #}
{# @For    Post Type #}
{# @Class  timber-posts/Programs.php #}
{# For homepage collection #}
<article class="rounded border border-[#ECEFF2] p-3 w-full h-full">
  <header class="pb-2 desktop:pb-3">
    <img class="w-[140px] h-8 object-contain object-left" loading="lazy" src="{{ post.meta('employer_program_logo').url }}" alt="{{ post.meta('employer_program_logo').alt }}"/>
  </header>
  <div>
    <div class="pb-2 desktop:pb-3">
      <a href="{{ post.link }}">
        <h5 class="pb-1 font-[600]">{{ post.employer_program_title }}</h5>
      </a>
    </div>
    <div>
      {{ post.employer_program_preview }}
    </div>
  </div>
</article>
