{# @Type   Component #}
{# @For    Post Type #}
{# @Class  timber-posts/Programs.php #}
{# For homepage collection #}
<article class="rounded border border-scale-3 p-3">
  <header>
    <img class="w-[140px] h-8 mb-3 object-contain object-left" loading="lazy" src="{{ post.meta('employer_program_logo').url }}" alt="{{ post.meta('employer_program_logo').alt }}"/>
    <a href="{{ post.link }}">
      <h5 class="pb-1">{{ post.employer_program_title }}</h5>
    </a>
  </header>

  <div class="pt-2">
    {{ post.employer_program_preview }}
  </div>
</article>
