{# @Type   Component #}
{# @For    Post Type #}
{# @Class  timber-posts/Programs.php #}
{# For homepage collection #}
<article class="rounded border border-scale-3 p-3">
  <header class="border-b border-scale-3 pb-2">
    <img class="w-[80px] h-[60px] mb-3 object-contain object-left" loading="lazy" src="{{ post.meta('employer_program_logo').url }}" alt="{{ post.meta('employer_program_logo').alt }}"/>
    <a href="{{ post.link }}">
      <h5 class="pb-1">{{ post.employer_program_title }}</h5>
    </a>
    <p>
      {{ post.employer_program_provider }}
    </p>
  </header>

  <div class="pt-2">
    {{ post.employer_program_preview }}

    <div class="mt-2 flex flex-wrap gap-1">
      {% for tag in post.meta('employer_program_tags') %}
        <div class="rounded p-1 bg-scale-2 text-nowrap">
            {{ tag.employer_program_tag }}
        </div>
      {% endfor %}
    </div>
  </div>
</article>
