{# @Type   View #}
{# @For    Post Type #}
{# @Class  timber-posts/EmployerPrograms.php #}
{% extends "base.twig" %}

{% block content %}
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   
<div>
  <header class="mt-5 tablet:mt-6 desktop:mt-7 mx-3 tablet-mx-14 desktop-mx-26">
    <div class="w-full grid tablet:grid-cols-[1fr_4fr] tablet:gap-x-4 ">
      <img class="w-[200px]" loading="lazy" src="{{ post.meta('employer_program_logo').url }}" alt="{{ post.meta('employer_program_logo').alt }}"/>
      <div>
        <div class="o-header__title mt-3 tablet:mt-4 desktop:mt-0">
          <h1 id="page-heading" class="o-header__heading">{{ post.employer_program_title }}</h1>
        </div>

        <p class="mt-1 tablet:mt-2">{{ post.employer_program_preview }}</p>
        {% if post.meta('header_link') %}
        <a href="{{ post.meta('header_link').url }}" target="{{ post.meta('header_link').target }}" class="text-[#30374F] no-underline mt-2 tablet:mt-3">
          <h6 class="font-bold">{{ post.meta('header_link').title }}</h6>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</header>
<div class="page-max">
  <div class="mt-7 grid desktop:grid-cols-[2fr_1fr] desktop:gap-x-[100px] mx-3 tablet-mx-14 desktop-mx-26">
    <div class="mb-4 tablet:mb-5 desktop:mb-7">
      {% for section in post.meta('sections') %}
        <section>
          {% if section.section_title %}
          <div>
            <div>
              <h3 class="h5 mb-3 text-alt border-b border-scale-4 py-2 tablet:py-3" data-active-navigation-item="focus">
                {{ section.section_title }}
              </h3>
            </div>
          </div>
          {% endif %}

          <div>
            {{ section.section_content }}
          </div>
        </section>
      {% endfor %}
    </div>
    <div class="rounded border-[#E6E7EB] border p-3 h-fit w-fit mb-5 tablet:mb-6 desktop:mb-7">
      <div>
        <h6>{{ post.provided_text }}</h6>
      </div>
    </div>
  </div>
  <div class="mb-7 mx-3 tablet-mx-14 desktop-mx-26">
   
    {#  slider  #}
        {% if post.meta('similar_programs') %}
        <div class="nav flex mb-5">
			    <h3>Similar programs</h3>
            <a class="indicator ml-auto" href="#featureCarousel" role="button" data-bs-slide="prev">
              <span class="fas fa-chevron-left" aria-hidden="true">
                <svg aria-hidden="true" class="option__graphic m-auto border" tabindex="-1">
                  <use href="#left-arrow"></use>
                </svg>
              </span>
            </a>
            <a class="w-aut indicator" href="#featureCarousel" role="button" data-bs-slide="next">
              <span class="fas fa-chevron-right" aria-hidden="true">
              <svg aria-hidden="true" class="option__graphic m-auto border" tabindex="-1">
                <use href="#right-arrow"></use>
              </svg>
              </span>
            </a>
        </div>
        <div class="container" id="featureContainer">
          <div class="row my-auto justify-content-center">
            <div id="featureCarousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner" role="listbox">
                {% for program in post.meta('similar_programs') %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                      {% include 'employer-programs/employer-program.twig' with { post: program } %}
                </div>
              {% endfor %}
              </div>
              
            </div>
          </div>
        </div>
        {% endif %}
    {# slider end #}
  </div>
  </div>

  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}

