{# @Type   View #}
{# @For    Post Type #}
{# @Class  timber-posts/EmployerPrograms.php #}
{% extends "base.twig" %}

{% block content %}
<header class="bg-[#EEF4FF]">
  <div class="py-5 tablet:py-6 desktop:py-7 px-3 tablet:px-7 desktop:px-[104px] page-max">
    {% include 'components/breadcrumbs.twig' with {
        crumbs: [
          {
            'label': post.title,
            'link': ''
          }
        ]
      }
    %}
    <div class="w-full grid desktop:grid-cols-[1fr_4fr] desktop:gap-x-4 mt-3 tablet:mt-5 desktop:mt-6">
      <img class="w-[200px]" loading="lazy" src="{{ post.meta('employer_program_logo').url }}" alt="{{ post.meta('employer_program_logo').alt }}"/>
      <div>
        <div class="o-header__title mt-3 tablet:mt-4 desktop:mt-0">
          <h1 id="page-heading" class="o-header__heading">{{ post.employer_program_title }}</h1>
        </div>

        <p class="mt-1 tablet:mt-2">{{ post.employer_program_preview }}</p>
        {% if post.meta('header_link') %}
        <a href="{{ post.meta('header_link').url }}" target="{{ post.meta('header_link').target }}" class="text-[#30374F] no-underline mt-2 tablet:mt-3">
          <h6 class="font-bold">{{ post.meta('header_link').title }}</h6>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</header>
<div class="page-max">
  <div class="mt-7 grid desktop:grid-cols-[2fr_1fr] desktop:gap-x-[100px] mx-3 tablet-mx-14 desktop-mx-26">
    <div class="mb-4 tablet:mb-5 desktop:mb-7">
      {% for section in post.meta('sections') %}
        <section id="{{ 'section-' ~ loop.index }}">
          {% if section.section_title %}
          <div>
            <div>
              <h3 class="h5 mb-4 tablet:mb-3 desktop:mb-3 text-alt border-b border-scale-4 py-2 tablet:py-3" data-active-navigation-item="focus">
                {{ section.section_title }}
              </h3>
            </div>
          </div>
          {% endif %}

          <div>
            {{ section.section_content }}
          </div>
        </section>
      {% endfor %}
    </div>
    <div class="rounded border-[#E6E7EB] border p-3 h-fit w-fit mb-5 tablet:mb-6 desktop:mb-7">
      <div>
        <h6>{{ post.provided_text }}</h6>
      </div>
    </div>
  </div>
  <div class="mt-5 tablet:mt-6 desktop:mt-7 mb-7 mx-3 tablet-mx-14 desktop-mx-26">
    <h3>{{ __('Similar services', 'WNYC') }}</h3>
    <div class="w-full grid grid-cols-1 tablet:grid-cols-2 desktop:grid-cols-3 gap-2">
      {% for program in post.meta('similar_programs') %}
      <div>
      {% include 'employer-programs/similar-employer-program.twig' with { post: program } %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

