<!DOCTYPE html>
<html lang="{{language_code}}" dir="{{direction}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {% if meta.description %}<meta name="description" content="{{ meta.description }}" />{% endif %}
    {% if meta.keywords %}<meta name="keywords" content="{{ meta.keywords }}" />{% endif %}
    {% if meta.robots %}<meta name="robots" content="{{ meta.robots }}" />{% endif %}

    {% if meta.og_type %}<meta property="og:type" content="{{ meta.og_type }}" />{% endif %}
    {% if meta.og_title %}<meta property="og:title" content="{{ meta.og_title }}" />{% endif %}

    {% if meta.og_description %}<meta property="og:description" content="{{ meta.og_description }}" />{% endif %}

    {% if meta.og_image %}
    <meta property="og:image" content="{{ meta.og_image.url }}" />
    <meta property="og:image:alt" content="{{ meta.og_image.alt }}" />
    <meta name="twitter:image:alt" content="{{ meta.og_image.alt }}" />
    {% endif %}

    {% if meta.twitter_card_type %}<meta name="twitter:card" content="{{ meta.twitter_card_type }}" />{% endif %}
    {% if meta.twitter_site %}<meta name="twitter:site" content="{{ meta.twitter_site }}" />{% endif %}

    <link rel="manifest" href="{{theme.path}}/manifest.json">
    <link href="{{theme.path}}/favicons/favicon@32x32.png" rel="icon" sizes="32x32" type="image/png" />
    <link href="{{theme.path}}/favicons/apple@180x180.png" rel="apple-touch-icon" sizes="180x180" />

    <script type="application/ld+json">{{schema}}</script>

    {{ function('enqueue_language_style', 'style') }}

    {% block head_extras %}{% endblock %}

    {# CSS polyfill for IE #}
    <script type="text/javascript">
      if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent)){
        document.write('<script src="https:\/\/cdn.jsdelivr.net\/gh\/nuxodin\/ie11CustomProperties@4.1.0\/ie11CustomProperties.min.js"><\/script>');
        document.write('<style>.o-navigation{display:block !important;}.c-card{display:block !important;}.c-utility{display:block !important;}<\/style>');
      }

      document.addEventListener("DOMContentLoaded", function(){
        const warning = document.getElementById("ie-warning");
        const links = warning.querySelectorAll('a')
        let tabindex = "-1";

        if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent)){
          warning.classList.remove("hidden");
          warning.setAttribute("aria-hidden", "false");
          tabindex="0";
        }

        links.forEach(function(link){
          link.setAttribute("tabindex", tabindex)
        });
      });
    </script>

    {{ function('wp_head') }}

    {% block scripts_head %}
      {% include 'services/google-analytics.twig' %}
      {% include 'services/google-tag-manager.twig' %}
    {% endblock %}

    {% if language_code != 'en' %}
      {% include ['services/google-translate.twig'] %}
    {% endif %}
  </head>

  <body class="color bg-scale-2 pb-8 mb-1 tablet:pb-0 tablet:mb-0">
    {{ fn('wp_body_open') }}

    {% include 'services/google-tag-manager-body.twig' %}

    <a class="sr-only" href="#content">{{ __('Skip to main content', 'WNYC') }}</a>

    {% block header %}
      {% include 'objects/navigation.twig' %}
      {% include 'objects/language-switcher.twig' %}
    {% endblock %}

    {% include 'objects/ie-warning.twig' %}

    {% block content %}{% endblock %}

    {% if options.feedback is defined %}
      {% include 'objects/feedback.twig' %}
    {% endif %}

    {% if show_newsletter is not defined%}
      {% include 'objects/newsletter.twig' %}
    {% endif %}

    {% block footer %}
      {% include 'objects/footer.twig' %}
    {% endblock %}

    {# Icons Path #}
    <div id="icons" class="hidden" aria-hidden="true" style="display:none;">{{icons_path}}</div>


    {{ function('enqueue_script', 'source') }}
    {{ wp_footer }}

    {% block scripts_extra %}{% endblock %}
  </body>
</html>