{% extends "base.twig" %}

{% block content %}
<div class="bg-scale-2">
  <main class="bg-[#E9F4FD]" id="content">
   {# Header Section #}
    <div>
      <header class="site-max-width py-5 tablet:py-6 desktop:py-7">
      <div class="pb-2">
        {% include 'components/breadcrumbs.twig' with {
              crumbs: [
                {
                  'label': post.title,
                  'link': ''
                }
              ]
            }
          %}
      </div>
        <div class="w-full">
          <div>
            <h1 id="page-heading" class="text-[40px] tablet:text-[50px] desktop:text-[55px] font-[600]">
              {{ post.title }}
            </h1>
          </div>

          {% if post.content %}{{ post.content }}{% endif %}
        </div>
      </header>
    </div>

    {% if events_header %}
    <div class="bg-scale-0">
      <div class="site-max-width pb-4">
          {% for section in events_header %}
          <section {% if section.header_title %}id="{{ section.header_title|trim|replace({' ': '-'})|lower }}"{% endif %}>
            {% if section.header_title %}
            <div class="bg-scale-0 sticky top-0 z-10 pt-6">
              <div>
                <h3 class="h5 mb-4 text-alt font-[600] text-[30px] desktop:text-[33.18px] tablet:text-[30px]">
                  {{ section.header_title }}
                </h3>
              </div>
            </div>
            {% endif %}

            <div class="desktop:w-[914px] text-[18px] desktop:text-[21px] tablet:text-[18px]">
              {{ section.header_content }}
            </div>
          </section>
          {% endfor %}
      </div>
    </div>
    {% endif %}

    <div class="bg-scale-0">
      <div>
        {# Collections #}
        {% if collections %}
          {% for collection in collections %}
            {% include collection.template with {this: collection, is_nyc_landing: true, site: site} only %}
          {% endfor %}
        {% endif %}

      </div>
    </div>

    {% if events_form %}
    <div class="bg-scale-0">
      <div class="site-max-width mb-8">
        <div class="py-6">
          {% for section in events_form %}
          <section {% if not loop.last %}class="pb-6"{% endif %} {% if section.interest_form_title %}id="{{ section.interest_form_title|trim|replace({' ': '-'})|lower }}"{% endif %}>
            {% if section.interest_form_title %}
            <div class="bg-scale-0 sticky top-0 z-10">
              <div>
                <h3 class="h5 mb-3 text-alt border-b border-scale-4 pb-3 text-[30px] desktop:text-[33.18px] tablet:text-[30px]">
                  {{ section.interest_form_title }}
                </h3>
              </div>
            </div>
            {% endif %}

            <div>
              {{ section.interest_form_url }}
            </div>
      
          </section>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  </main>
</div>
{% endblock %}

