{% extends "base.twig" %}

{% block content %}
<div class="bg-scale-2">
  <main class="bg-scale-1 bg-[#E3F1FD]" id="content">
    <div class="site-max-width bg-scale-1 bg-[#E3F1FD]">
      {% include ['components/utility-nav.twig'] with {
        return: {
          'label': __('Home', 'WNYC'),
          'link': site.url
        },
        web_share: {
          'title': post.title,
          'text': (post.web_share_text) ? post.web_share_text,
          'url': fn('wp_get_shortlink')
        }
      } %}
    </div>

    {# Header Section #}
    <div class="bg-[#E3F1FD]">
      <header class="site-max-width desktop:py-7 tablet:py-6 py-5">
        <div class="w-full">
          <div class="desktop:mt-6 mt-3 tablet:mb-2 desktop:mb-3 mb-1">
            <h1 id="page-heading" class="text-[40px] tablet:text-[50px] desktop:text-[55px] font-[600]">
              {% if function('is_404') %}{{ __('Page Not Found', 'WNYC') }}{% else %}{{ post.title }}{% endif %}
            </h1>
          </div>

          {% if post.content %}{{ post.content }}{% endif %}
        </div>
      </header>
    </div>

    {% if sections %}
    <div class="bg-scale-0">
      <div class="site-max-width pb-8 mb-8">
        <div class="py-4">
          {% for section in sections %}
          <section {% if not loop.last %}class="pb-6"{% endif %} {% if section.section_title %}id="{{ section.section_title|trim|replace({' ': '-'})|lower }}"{% endif %}>
            {% if section.section_title %}
            <div class="pt-utility-anchor bg-scale-0 sticky top-0 z-10">
              <div class="wrap">
                <h3 class="h5 mb-3 text-alt border-b border-scale-4 py-2 tablet:py-3">
                  {{ section.section_title }}
                </h3>
              </div>
            </div>
            {% endif %}

            <div class="wrap">
              {{ section.section_content }}
            </div>
          </section>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  </main>
</div>
{% endblock %}

