{% extends "base.twig" %}

{% block content %}
<div class="bg-scale-2">
  <main class="bg-[#E9F4FD]" id="content">
   {# Header Section #}
    <div>
      <header class="site-max-width py-5 tablet:py-6 desktop:py-7">
      <div class="pb-2">
        {% include 'components/breadcrumbs.twig' with {
              crumbs: [
                {
                  'label': post.title,
                  'link': ''
                }
              ]
            }
          %}
      </div>
        <div class="w-full">
          <div>
            <h1 id="page-heading" class="text-[40px] tablet:text-[50px] desktop:text-[55px] font-[600]">
              {{ post.title }}
            </h1>
          </div>

          {% if post.content %}{{ post.content }}{% endif %}
        </div>
      </header>
    </div>

    {% if events_header %}
    <div class="bg-scale-0">
      <div class="site-max-width pb-4">
          {% for section in events_header %}
          <section {% if section.header_title %}id="{{ section.header_title|trim|replace({' ': '-'})|lower }}"{% endif %}>
            {% if section.header_title %}
            <div class="bg-scale-0 sticky top-0 z-10 pt-6">
              <div>
                <h3 class="h5 mb-4 text-alt font-[600] text-[30px] desktop:text-[33.18px] tablet:text-[30px]">
                  {{ section.header_title }}
                </h3>
              </div>
            </div>
            {% endif %}

            <div class="desktop:w-[914px] text-[18px] desktop:text-[21px] tablet:text-[18px]">
              {{ section.header_content }}
            </div>
          </section>
          {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if upcoming_events %}
    
    <div class="bg-scale-0">
      <div class="site-max-width pb-6">
        <div class="bg-scale-0 sticky top-0 z-10 pb-4">
          <h3 class="text-[30px] desktop:text-[33.18px] tablet:text-[30px]" font-[600]">Upcoming</h3>
        </div>
        <div class="grid desktop:grid-cols-3 tablet:grid-cols-2  gap-2 desktop:gap-3">
          {% for section in upcoming_events %}
            <div class="transform-none p-[32px] rounded-[5px] border-2 border-[#F0F6FA] desktop:relative tablet:relative">
              <p class="text-[#004CBE] text-[22px] font-[700] border-b-2 border-[#ECEFF2] pb-[16px] mb-[0px]">{{ section.job_event_title}}</p>
              <div class="pt-[24px] desktop:min-h-[173px] tablet:min-h-[198px] min-h-[170px] pb-[24px]">
                <p class="flex mb-[10px]">
                  <svg aria-hidden="true" class="icon-ui c-card__feature-icon w-[24px] h-[24px]">
                    <use href="#lucide-calendar"></use>
                  </svg>
                  {{ section.job_event_date}}
                </p>
                <p class="flex mb-[10px]">
                  <svg aria-hidden="true" class="icon-ui c-card__feature-icon w-[24px] h-[24px]">
                    <use href="#temp-lucide-clock"></use>
                  </svg>
                  <span>{{ section.job_event_start_time}}</span>
                  <span class="pl-[8px] pr-[8px]">to</span>
                  <span>{{ section.job_event_end_time}}</span>
                </p>
                <p class="flex mb-[24px]">
                  <svg aria-hidden="true" class="icon-ui c-card__feature-icon w-[24px] h-[24px]">
                    <use href="#lucide-map-pin"></use>
                  </svg>{{ section.job_event_location}}
                </p>
                <div class="desktop:absolute desktop:bottom-[32px] tablet:absolute tablet:bottom-[32px]">
                  <a href="{{ function('convert_link_locale', section.job_event_link.url , site.site_url, site.url) }}" target="{{ section.job_event_link.target }}" class="c-card__header-link text-[#30374F] visited:text-[#30374F] hover:text-[#30374F]">
                    <p class="c-card__title text-[20px] flex leading-[22px] text-[20px]">
                      <span>{{ section.job_event_link.title }}</span>
                      <svg aria-hidden="true" class="icon-ui w-[24px] h-[24px] ml-[4px]">
                        <use href="#lucide-arrow-right"></use>
                      </svg>
                    </p>
                  </a>
                </div>
                
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}

    

    {% if events_form %}
    <div class="bg-scale-0">
      <div class="site-max-width mb-8">
        <div class="py-6">
          {% for section in events_form %}
          <section {% if not loop.last %}class="pb-6"{% endif %} {% if section.interest_form_title %}id="{{ section.interest_form_title|trim|replace({' ': '-'})|lower }}"{% endif %}>
            {% if section.interest_form_title %}
            <div class="bg-scale-0 sticky top-0 z-10">
              <div>
                <h3 class="h5 mb-3 text-alt border-b border-scale-4 pb-3 text-[30px] desktop:text-[33.18px] tablet:text-[30px]">
                  {{ section.interest_form_title }}
                </h3>
              </div>
            </div>
            {% endif %}

            <div>
              {{ section.interest_form_url }}
            </div>
      
          </section>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  </main>
</div>
{% endblock %}

