{% extends "base.twig" %}

{% block content %}
<div class="bg-scale-1 bg-shape-wnyc-abc bg-fixed">
  <header class="o-banner page-max desktop:px-6">
    <div class="py-7 desktop:px-6 tablet:grid grid-cols-2 gap-x-5">
      <div class="pb-6 hidden tablet:flex"></div>

      <div class="pb-6 hidden tablet:flex"></div>

      <div>
        <div class="tablet:pe-4 pt-1">
          <h1 class="sr-only">Working N Y C</h1>

          <svg aria-hidden="true" class="icon-logo-homepage fill-text text-brand">
            <use href="#logo-wnyc-standard"></use>
          </svg>

          <h2 class="h4 font-primary tablet:font-normal tablet:text-h3 font-bold text-alt mb-5 tablet:mb-0">{{ post.post_content|striptags }}</h2>
        </div>
      </div>

      {% include 'components/questionnaire.twig' %}
    </div>
  </header>

  <main id="content">
    {# Programs #}
    {% if featured_posts %}
    {% for section in featured_posts %}
    <section class="page-max pb-8 mb-8" id="{{ section.featured_posts_heading|lower|replace({' ':'-'}) }}">
      <div>
        <div class="layout-content">
          <div class="wrap">
            <h2 class="h4 font-normal text-alt mt-0">{{ section.featured_posts_heading }}</h2>

            <p>{{ section.featured_posts_description }}</p>
          </div>
        </div>

        <div class="desktop:px-6">
          <div class="scroll py-3 scroll-x scroll-x-snap-start scroll-peek tablet:scroll-reset tablet:pb-0 tablet:grid tablet:grid-cols-2 tablet:gap-3 desktop:gap-5 tablet:px-3 desktop:px-6">
            {% for featured in section.featured_posts_objects %}
            {% set featured = TimberPost(featured) %}

            <div class="wrap-start {% if loop.last %}wrap-end{% endif %} transform-none tablet:p-0" data-aos="fade-in" data-aos-anchor-placement="top-bottom" data-aos-delay="300">
              {% include ['components/program.twig'] with {
                post: featured
              } %}
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="layout-content">
          <div class="wrap tablet:py-6">
            <a class="btn btn-secondary light:btn-primary btn-next flex w-full" href="{{ programs_archive }}">
              <svg aria-hidden="true" class="icon-wnyc-ui rtl:flip">
                <use href="#feather-arrow-left"></use>
              </svg>

              <span>{{ __('See all programs', 'WNYC') }}</span>

              <svg aria-hidden="true" class="icon-wnyc-ui rtl:flip">
                <use href="#feather-arrow-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>
    {% endfor %}
    {% endif %}

    {% if announcements %}
    <section class="page-max pb-8 mb-8" id="announcements">
      <div class="layout-content">
        <div class="wrap pb-2">
          <h2 class="h4 font-normal text-alt mt-0">{{ __('Announcements', 'WNYC') }}</h2>

          <div class="py-4 grid gap-6 tablet:grid-cols-2 tablet:gap-8">
            {% for announcement in announcements %}
            <div class="transform-none aos-init aos-animate" data-aos="fade-in" data-aos-anchor-placement="top-bottom" data-aos-delay="300">
              {% include 'components/announcement.twig' with {this: announcement} only %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    {% endif %}

    {% if options.feedback is defined %}
    {% include 'objects/feedback.twig' %}
    {% endif %}

    {% if show_newsletter is not defined %}
    {% include 'objects/newsletter.twig' %}
    {% endif %}
  </main>
</div>
{% endblock %}
