{% extends "base.twig" %}

{% block content %}
<div class="bg-scale-1">
  <header class="o-banner {% if post.thumbnail %}bg-banner-min-height bg-shape-wnyc-header{% endif %} relative">
    <div class="page-max desktop:px-6">

      {% if post.thumbnail %}
      <div class="py-2 tablet:py-8 desktop:px-6 tablet:grid grid-cols-2 gap-x-5">
        <div>
      {% else %}
      <div class="py-2 tablet:py-8 desktop:px-6 layout-content">
        <div class="wrap">
      {% endif %}

          <div class="text-center">
            <h1 id="page-heading" class="m-0" style="line-height: 0">
              <svg class="fill-text stroke-text text-brand" width="256" height="79" role="img">
                <title>Working N Y C</title>

                <use href="#logo-wknyc-horizontal-w-ribbon"></use>
              </svg>
            </h1>
          </div>

          {% set featured_image = '<img class="bg-image-square mb-2 tablet:hidden animated fadeIn" loading="eager" style="object-position: ' ~ post.thumbnail.focal_point ~ ';" src="' ~ post.thumbnail.src('tablet') ~ '" alt="' ~ post.thumbnail.alt ~ '"/>' %}

          {# Do not delete. Possible header utility values; #}
          {# class="h4 text-center tablet:text-start tablet:text-h3 font-primary text-alt" #}
          {{ post.post_content|replace({"<!-- featured_image -->": featured_image}) }}

          <p class="text-center">
            <a class="inline-block text-center" href="#content">
              <span>{{ __('Explore', 'WNYC') }}</span><br />
              <svg aria-hidden="true" class="icon-ui icon-5">
                <use href="#lucide-chevron-down"></use>
              </svg>
            </a>
          </p>
        </div>
      </div>
    </div>

    {% if post.thumbnail %}
    <div class="bg-image-grid hidden tablet:grid grid-cols-2 animated fadeIn">
      <div></div>

      <div class="bg-image-grid__mask-scale-1 relative">
        <img class="bg-image-grid__img" loading="lazy" style="object-position: {{ post.thumbnail.focal_point }};" src="{{ post.thumbnail.src('desktop') }}" alt="{{ post.thumbnail.alt }}"/>
      </div>
    </div>
    {% endif %}
  </header>

  <main id="content" class="bg-shape-wnyc-content">
    <div>
      {# Collections #}
      {% if collections %}
      {% for collection in collections %}

      {% if loop.index == 1 and questionnaire.position == 0 %}
      {% include questionnaire.template with {this: questionnaire} %}
      {% endif %}

      {% include collection.template with {this: collection} only %}

      {% if loop.index == questionnaire.position %}
      {% include questionnaire.template with {this: questionnaire} %}
      {% endif %}

      {% endfor %}
      {% endif %}

      {# Announcements #}
      {% if announcements %}
      <section class="page-max pb-8 pt-utility-anchor" id="announcements">
        <div class="layout-content py-2 tablet:py-8">
          <div class="wrap">
            <h2 class="h3 text-alt mt-0">{{ __('Announcements', 'WNYC') }}</h2>

            <div class="py-4 grid gap-6 tablet:grid-cols-2 tablet:gap-8">
              {% for announcement in announcements %}
              <div class="transform-none aos-init aos-animate" data-aos="fade-in" data-aos-anchor-placement="top-bottom" data-aos-delay="300">
                {% include 'components/announcement.twig' with {this: announcement} only %}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
      {% endif %}

      {% include 'components/back-to-top.twig' %}
    </div>

    {% if options.feedback is defined %}
    {% include 'objects/feedback.twig' %}
    {% endif %}

    {% if show_newsletter is not defined %}
    {% include 'objects/newsletter.twig' %}
    {% endif %}
  </main>

  <div class="bg-shape-wnyc-position bg-shape-wnyc-b bg-shape-wnyc-position-background"></div>

  <div class="bg-shape-wnyc-position bg-shape-wnyc-ac bg-shape-wnyc-position-foreground"></div>
</div>
{% endblock %}
