{% extends "base.twig" %}

{% block content %}
<div class="bg-scale-0">
  <header class="bg-gradient-to-r from-[#E5F4FF] to-[#fefefe] {% if post.thumbnail %}bg-shape-wnyc-header{% endif %} w-full h-fit">

      {% if post.thumbnail %}
      <div class="gap-x-4 site-max-width tablet:grid grid-cols-[3fr_2fr] py-5 tablet:py-6 desktop:py-7 desktop:min-h-[582px]">
        <div class="text-left flex flex-col justify-center">
      {% else %}
      <div class="site-max-width">
        <div>
      {% endif %}

          {% set featured_image = '<img class="bg-image-square mb-2 tablet:hidden animated fadeIn hidden" loading="eager" style="object-position: ' ~ post.thumbnail.focal_point ~ ';" src="' ~ post.thumbnail.src('tablet') ~ '" alt="' ~ post.thumbnail.alt ~ '"/>' %}

          {# The post content can include html tags and CSS classes. The following line is an example of some classes that were used in the past #}
          {# class="h4 text-center tablet:text-start tablet:text-h3 font-primary text-alt" #}
          <h1 class="text-[40px] desktop:text-[55px] mt-3 mb-5 tablet:mb-3 desktop:mb-6">{{ post.post_content }}</h1>
          <div class="flex flex-col tablet:flex-row gap-2 tablet:gap-4">
            {% if post.page_header_primary_button %}
              <a class="btn btn-secondary w-full tablet:w-fit" href="{{ post.page_header_primary_button.url }}" {% if post.page_header_primary_button.target == '_blank' %}target="{{ post.page_header_primary_button.target }}" {% endif %}>
                <div>{{ post.page_header_primary_button.title }}</div>
                <svg aria-hidden="true" class="w-[20px] h-[20px] ml-[4px] icon-ui rtl:flip">
                  <use href="#lucide-arrow-right"></use>
                </svg>
              </a>
            {% endif %}
            {% if post.page_header_secondary_button %}
              <a class="btn btn-styled w-full tablet:w-fit text-[#30374F] border-[#30374F]" href="{{ post.page_header_secondary_button.url }}" {% if post.page_header_secondary_button.target == '_blank' %}target="{{ post.page_header_secondary_button.target }}" {% endif %}>
                <div>{{ post.page_header_secondary_button.title }}</div>
                <svg aria-hidden="true" class="w-[20px] h-[20px] ml-[4px] icon-ui rtl:flip">
                  <use href="#lucide-arrow-right"></use>
                </svg>
              </a>
            {% endif %}
          </div>
          {% if post.page_header_text_link %}
            <div class="pt-2">
              <a class="h-5 flex flex-col justify-center w-fit decoration-[#0C264D]" href="{{ post.page_header_text_link.url }}" {% if post.page_header_text_link.target == '_blank' %}target="{{ post.page_header_text_link.target }}" {% endif %} rel="noopener">
                <div class="font-600 text-[#0C264D] text-[16px]">
                  {{ post.page_header_text_link.title }}
                </div>
              </a>
            </div>
          {% endif %}
        </div>
    {% if post.thumbnail %}

      <div class="relative items-center hidden tablet:flex">
        <img class="object-contain tablet-width-300 aspect-square bg-image-grid__img max-h-[100%]" loading="lazy" style="object-position: {{ post.thumbnail.focal_point }};" src="{{ post.thumbnail.src('desktop') }}" alt="{{ post.thumbnail.alt }}"/>
      </div>
      
    {% endif %}
      </div>
  </header>

  <main id="content" class="bg-shape-wnyc-content">
    <div>
      {# Collections #}
      {% if collections %}
        {% for collection in collections %}
          {% include collection.template with {this: collection, is_home: true, site: site} only %}
        {% endfor %}
      {% endif %}

     
    </div>
  </main>

  {% if show_newsletter is not defined %}
  {% include 'objects/newsletter.twig' %}
  {% endif %}
</div>
{% endblock %}
