{% extends "base.twig" %}

{% block content %}
<div class="bg-scale-2">
  <main class="bg-scale-1" id="content">
    {# Header Section #}
    <div class="site-max-width">
      <header class="o-header px-0">
        <div class="w-full">
        {% include 'components/breadcrumbs.twig' with {
              crumbs: [
                {
                  'label': post.title,
                  'link': ''
                }
              ]
            }
          %}
          <div class="o-header__title">
            <h1 id="page-heading" class="o-header__heading">
              {% if function('is_404') %}{{ __('Page Not Found', 'WNYC') }}{% else %}{{ post.title }}{% endif %}
            </h1>
          </div>

          {% if post.content %}{{ post.content }}{% endif %}

          <p class="small flex items-center">
            <svg class="icon-ui mie-1 icon-2" role="img">
              <title>{{ __('Last updated', 'WNYC-Date') }}</title>

              <use href="#lucide-info"></use>
            </svg>

            {{ __('Last updated', 'WNYC-Date') }}

            {{ modified_date }}
          </p>
        </div>
      </header>
    </div>

    {% if sections %}
    <div class="bg-scale-0">
      <div class="site-max-width pb-8 mb-8">
        <div class="py-4">
          {% for section in sections %}
          <section {% if not loop.last %}class="pb-6"{% endif %} {% if section.section_title %}id="{{ section.section_title|trim|replace({' ': '-'})|lower }}"{% endif %}>
            {% if section.section_title %}
            <div class="pt-utility-anchor bg-scale-0 sticky top-0 z-10">
              <div>
                <h3 class="h5 mb-3 text-alt border-b border-scale-4 py-2 tablet:py-3">
                  {{ section.section_title }}
                </h3>
              </div>
            </div>
            {% endif %}

            <div>
              {{ section.section_content }}
            </div>
          </section>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}

    {% if show_newsletter is not defined %}
    {% include 'objects/newsletter.twig' %}
    {% endif %}
  </main>
</div>
{% endblock %}

