{% extends "base.twig" %}

{% block content %}
<div class="bg-scale-2">
  <main class="bg-scale-1" id="content">
    <div class="site-max-width sticky top-0 bg-scale-1 z-10">
      {% if employer == true %}
        {% if options.employers_link is defined %}
          {% set home_link = options.employers_link %}
        {% else %}
          {% set home_link = site.url %}
        {% endif %}
      {% else %}
        {% if options.job_seekers_link is defined %}
          {% set home_link = options.job_seekers_link %}
        {% else %}
          {% set home_link = site.url %}
        {% endif %}
      {% endif %}

      {% include ['components/utility-nav.twig'] with {
        web_share: {
          'title': post.title,
          'text': post.web_share_text,
          'url': fn('wp_get_shortlink')
        }
      } %}
    </div>

    {# Header Section #}
    <div class="site-max-width">
      <header class="o-header">
        <div>
          {% include 'components/breadcrumbs.twig' with {
              crumbs: [
                {
                  'label': post.title,
                  'link': ''
                }
              ]
            }
          %}

          <h1 id="page-heading" class="o-header__title">{{ post.title }}</h1>
            <div>{{options.newsletter_description}}</div>
        </div>
      </header>
    </div>
    <section class="site-max-width">
      <div>
        <div class="pb-8 mb-8">
          {% if newsletter_message %}
          <article class="c-alert c-alert-status-primary mt-5" data-js="alert-warning">
            <div class="c-alert__graphic">
              <svg aria-hidden="true" class="icon-ui">
                <use href="#lucide-info"></use>
              </svg>
            </div>

            <div class="c-alert__body">
              <p data-js-alert="text">{{ __('To receive the most relevant information, please answer the following optional questions.', 'WNYC-Newsletter')}}</p>
            </div>
          </article>
          {% endif %}

          <div data-js="newsletter-form">
            <form action="https://nyc.us18.list-manage.com/subscribe/post?u={{ constant('MAILCHIMP_ACCOUNT') }}&amp;id={{ constant('MAILCHIMP_AUDIENCE_ID') }}" id="mc-embedded-subscribe-form" method="post" target="_blank" novalidate="true">
              {% for field in form_fields%}
                {% if field.type != 'checkbox' %}
                <div class="c-question">
                  <label class="c-question__label" for="{{ field.id }}">{{ field.label }}</label>

                  <div class="c-question__container">
                    <div class="c-question__input">
                      <div class="input">
                        <input id="{{ field.id }}" name="{{ field.name }}" {% if field.required == "true" %}required="{{ field.required }}"{% endif %} type="{{ field.type }}" value="{% if field.name == 'EMAIL'%}{{ email }}{% endif %}">
                      </div>
                    </div>
                  </div>
                </div>
                {% else %}
                <fieldset	class="c-question">
                  <legend class="c-question__label">{{ field.legend }}</legend>

                  <div class="c-question__container grid grid-cols-1 tablet:grid-cols-2 gap-2">
                    {% for subfield in field.fields%}
                    <label class="option" for="{{ subfield.for }}">
                      <span class="sr-only">Select interests (option {{ loop.index }} of {{ field.fields|length }}): </span>

                      <input id="{{ subfield.id }}" name="{{ subfield.name }}" type="checkbox" value="{{ subfield.value }}">

                      <span class="option__base">
                        <svg aria-hidden="true" class="option__graphic">
                          <use href="#option-nyco-checkbox"></use>
                        </svg>

                        <span class="option__label">{{ subfield.label }}</span>
                      </span>
                    </label>
                    {% endfor %}
                  </div>
                </fieldset>
                {% endif %}
              {% endfor %}

              <button class="btn-primary" type="submit">Submit</button>

              <article aria-hidden="true" class="c-alert c-alert-status-tertiary mt-5 hidden" data-js="alert-error" role="alert">
                <div class="c-alert__graphic">
                  <svg aria-hidden="true" class="icon-ui">
                    <use href="#lucide-info"></use>
                  </svg>
                </div>

                <div class="c-alert__body">
                  <p data-js-alert="text">{{ __('Please fill out the required fields and submit again.', 'WNYC') }}</p>
                </div>
              </article>

              <article aria-hidden="true" class="c-alert c-alert-status-tertiary mt-5 hidden" data-js="alert-warning" role="alert">
                <div class="c-alert__graphic">
                  <svg aria-hidden="true" class="icon-ui">
                    <use href="#lucide-info"></use>
                  </svg>
                </div>

                <div class="c-alert__body">
                  <p data-js-alert="text"></p>
                </div>
              </article>

              <article aria-hidden="true" class="c-alert c-alert-status-secondary mt-5 hidden" data-js="alert-success" role="alert">
                <div class="c-alert__graphic">
                  <svg aria-hidden="true" class="icon-ui">
                    <use href="#lucide-info"></use>
                  </svg>
                </div>

                <div class="c-alert__body">
                  <p data-js-alert="text"></p>
                </div>
              </article>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
{% endblock %}
