<div>
  <h2 class="h3">General Navigation</h2>
  <ul>
  {% for menu_item in footer_menu.get_items %}
    <li><a class="block" href="{{menu_item.link}}">{{menu_item.title}}</a></li>
  {% endfor %}
  </ul>
</div>

<div>
	<h2 class="h3">Programs</h2>
  <ul>
    {% for program in programs %}
      <li>
        <a class="block" href="{{programs_archive}}{{program.post_name}}">{{program.post_title}}</a>
      </li>
    {% endfor %}
  </ul>
</div>
