{% extends "base.twig" %}

{% block content %}
<div class="bg-white">

    <div class="layout-content text-center py-5">
        <h1>{{ post.post_title }}</h1>

        {{ post.post_content }}
    </div>

    <div class="relative">
        {% if post.thumbnail %}
            <div>
                <img class="w-full h-[830px] desktop:h-[600px] object-cover" loading="lazy" src="{{ post.thumbnail.src('desktop') }}" alt="{{ post.thumbnail.alt }}"/>
            </div>
        {% endif %}

        <div class="absolute top-[168px] tablet:top-[250px] desktop:top-[300px] w-full">
            <div class="relative grid desktop:grid-cols-2 gap-3">
                <div class="mx-3 tablet:mx-auto desktop:ml-auto desktop:mr-0 tablet:w-4/5 grid bg-white p-4">
                    <h3 class="mx-auto mb-4 text-center">{{ post.meta('subtitle_1') }}</h3>
                    <p class="mx-auto mb-4 text-center">{{ post.meta('description_1') }}</p>
                    <a class="mx-auto btn tablet:btn btn-secondary pointer-events-auto" href="{{ post.meta('button_link_1') }}">{{ post.meta('button_label_1') }}</a>
                </div>
                <div class="mx-3 tablet:mx-auto desktop:mr-auto desktop:ml-0 tablet:w-4/5 grid bg-white p-4">
                    <h3 class="mx-auto mb-4 text-center">{{ post.meta('subtitle_2') }}</h3>
                    <p class="mx-auto mb-4 text-center">{{ post.meta('description_2') }}</p>
                    <a class="mx-auto btn tablet:btn btn-secondary pointer-events-auto" href="{{ post.meta('button_link_2') }}">{{ post.meta('button_label_2') }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="layout-content text-center py-5 tablet:py-6 desktop:py-7 px-2 tablet:px-7">
        <h2 class="mb-4">{{ __('Agency Partners', 'WNYC')}}</h2>

        <div class="flex justify-center flex-wrap gap-3">
        {% for partner in post.meta('agency_partners') %}
            <img class="w-[172px] object-contain" src="{{ partner.logo.url }}" alt="{{ partner.logo.alt }}"/>
        {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
