{% extends "base.twig" %}

{% block content %}
<div class="bg-white">

    <div class="flex justify-center tablet:justify-start px-2 tablet:px-[104px] py-3">
      <svg aria-hidden="true" class="h-5 max-w-[210px]" width="210" height="40">
        <title>{{ __('Jobs NYC', 'WNYC') }}</title>
        <use href="#logo-jobs-nyc-black-blue"></use>
      </svg>
    </div>

    <div class="relative">
        {% if post.thumbnail %}
            <div class="hidden tablet:block talent-portal-gradient">
                <img class="w-full h-[1100px] tablet:h-[746px] object-cover" loading="lazy" src="{{ post.thumbnail.src('desktop') }}" alt="{{ post.thumbnail.alt }}"/>
            </div>
        {% endif %}

        <div class="flex justify-center">
            <div class="relative tablet:absolute tablet:h-[746px] flex flex-col justify-center tablet:top-0 max-w-[1440px] w-full px-3 py-5 tablet:px-[104px] z-20 bg-[#202431] tablet:bg-transparent">
                <h2 class="text-[40px] tablet:text-[50px] desktop:text-[55px] tablet:h1 text-white my-0 font-[600]">{{ post.meta('header_text_1') }}</h2>
                <h2 class="text-[40px] tablet:text-[50px] desktop:text-[55px] tablet:h1 text-white mt-0 mb-4 tablet:mb-6 desktop:mb-8 font-[600]">{{ post.meta('header_text_2') }}</h2>
                <div class="relative grid tablet:grid-cols-2 gap-3 w-full mx-auto">
                    <div class="grid bg-white p-4 w-full">
                        <h3 class="mx-auto mb-4 text-center">{{ post.meta('subtitle_1') }}</h3>
                        <p class="mx-auto mb-4 text-center">{{ post.meta('description_1') }}</p>
                        <a class="mx-auto btn tablet:btn btn-secondary pointer-events-auto" href="{{ function('convert_link_locale', post.meta('button_link_1'), site.site_url, site.url)  }}">{{ post.meta('button_label_1') }}</a>
                    </div>
                    <div class="grid bg-white p-4 w-full">
                        <h3 class="mx-auto mb-4 text-center">{{ post.meta('subtitle_2') }}</h3>
                        <p class="mx-auto mb-4 text-center">{{ post.meta('description_2') }}</p>
                        <a class="mx-auto btn tablet:btn btn-secondary pointer-events-auto" href="{{ function('convert_link_locale', post.meta('button_link_2'), site.site_url, site.url)  }}">{{ post.meta('button_label_2') }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-[#F4F7FA] tablet:bg-white tablet:px-[104px] max-w-[1440px] desktop:mx-auto pb-5 tablet:py-7">
        <div class="desktop:grid desktop:grid-cols-[1fr_1.15fr] items-center tablet:gap-x-6">
            <img class="w-full h-[420px] object-cover mb-4 desktop:mb-0" src="{{ post.meta('container_image').url }}" alt="{{ post.meta('container_image').alt }}" style="object-position: {{ post.meta('container_image_focal_point') }};"/>
            <div class="text-center tablet:text-left px-3 tablet:px-0 desktop-max-h-304 w-full">
                <h2 class="text-left mb-4 font-[600]">{{ post.meta('container_header') }}</h2>
                <div class="text-left text-[16px] mb-4">{{ post.meta('container_subtitle') }}</div>
                <div class="flex flex-col tablet:flex-row gap-3 tablet:gap-4">
                    {% for item in post.meta('container_links') %}
                        <a class="w-fit btn btn-styled text-[#30374F] border-[#30374F] font-[600] pointer-events-auto" target="{{ item.link.target }}" href="{{ item.link.url }}">
                            {{ item.link.title }}
                            <svg aria-hidden="true" class="icon-ui w-[20px] h-[20px] mr-0 rtl:flip">
                                <use href="#lucide-arrow-right"></use>
                            </svg>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% if post.meta('container_header_2') != "" %}
    <div class="bg-[#F4F7FA] tablet:bg-white tablet:px-[104px] max-w-[1440px] desktop:mx-auto pb-5 tablet:py-7">
        <div class="desktop:grid desktop:grid-cols-[1fr_1.15fr] items-center tablet:gap-x-6">
            <img class="w-full h-[420px] object-cover mb-4 desktop:hidden" src="{{ post.meta('container_image_2').url }}" alt="{{ post.meta('container_image_2').alt }}" style="object-position: {{ post.meta('container_image_2_focal_point') }};"/>
            <div class="text-center tablet:text-left px-3 tablet:px-0 desktop-max-h-304 w-full">
                <h2 class="text-left mb-4 font-[600]">{{ post.meta('container_header_2') }}</h2>
                <div class="text-left text-[16px] mb-4">{{ post.meta('container_subtitle_2') }}</div>
                <div class="flex flex-col tablet:flex-row gap-3 tablet:gap-4">
                    {% for item in post.meta('container_2_links') %}
                        <a class="w-fit btn btn-styled text-[#30374F] border-[#30374F] font-[600] pointer-events-auto" target="{{ item.link.target }}" href="{{ item.link.url }}">
                            {{ item.link.title }}
                            <svg aria-hidden="true" class="icon-ui w-[20px] h-[20px] mr-0 rtl:flip">
                                <use href="#lucide-arrow-right"></use>
                            </svg>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <img class="w-full h-[420px] object-cover mb-0 hidden desktop:block" src="{{ post.meta('container_image_2').url }}" alt="{{ post.meta('container_image_2').alt }}" style="object-position: {{ post.meta('container_image_2_focal_point') }};"/>
        </div>
    </div>
    {% endif %}

    <div class="layout-content text-center py-5 tablet:py-6 desktop:py-7 px-2 tablet:px-[104px] max-w-[1440px] desktop:mx-auto">
        <h2 class="mb-4">{{ post.meta('agency_partners_text') }}</h2>

        <div class="flex justify-center flex-wrap gap-3">
        {% for partner in post.meta('agency_partners') %}
            <img class="w-[172px] object-contain" src="{{ partner.logo.url }}" alt="{{ partner.logo.alt }}"/>
        {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
